.border {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ffdd15 0%,
    #ffd915 3.83%,
    #fdce17 7.3%,
    #fbbc19 10.64%,
    #f8a21c 13.88%,
    #f6921e 15.52%,
    #f68e1f 20.65%,
    #f48321 25.3%,
    #f27124 29.76%,
    #f05a28 33.69%,
    #f05628 38.27%,
    #ef4b27 42.42%,
    #ee3926 46.41%,
    #ec1f24 50.27%,
    #ec1c24 50.67%,
    #e81e27 54.36%,
    #dd2531 57.7%,
    #cb3040 60.91%,
    #b14057 64.05%,
    #8f5573 67.12%,
    #666e97 70.15%,
    #368cbf 73.09%,
    #00adee 75.97%,
    #01a9eb 80.68%,
    #059ee3 84.95%,
    #0c8cd5 89.05%,
    #1672c2 93.05%,
    #2251a9 96.93%,
    #2e3191 100%
  );
}
.imgOverlayWrap {
  position: relative;
  text-align: center;
  .featurebg {
    height: 190px;
    margin-bottom: -5px;
    position: relative;
    width: 100%;
  }
  .overlayNew {
    position: absolute;
    background: black;
    height: 190px;
    width: 100%;
    top: 0;
    z-index: 9;
    opacity: 0.85;
  }
  .textWrapper {
    position: absolute;
    top: 25%;
    z-index: 99;
    width: 100%;
    .overlayHeading {
      font-size: 40px;
      font-weight: 700;
      color: #fff;
      line-height: 48px;
      .creatorText {
        color: #1b5881;
        padding-left: 8px;
      }
    }
    .overlayDesc {
      color: #fcfcfd;
      font-size: 20px;
      font-weight: 600;
      @media (max-width: 560px) {
        padding: 0rem 1rem;
      }
    }
  }
}
.Featured {
  background: linear-gradient(0deg, #363636 0%, #111111 100%);
  padding: 4rem 0rem 8rem;
  .Main {
    max-width: 1120px;
    margin: auto;
    .header {
      font-size: 36px;
      margin: 0rem;
      font-weight: 700;
      font-family: 'Gotham Book', sans-serif;
      color: #fcfcfd;
      @media (max-width: 860px) {
        text-align: center;
      }
      span {
        color: #fbbc19;
      }
      margin-bottom: 3rem;
    }
    .carouselContainer {
      img {
        border-radius: 20px;
        margin: auto;
        max-width: 250px;
        width: 100%;
      }
      h1 {
        margin-top: 1.5rem;
        font-family: Gotham;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: -0.01em;
        text-align: center;
        color: white;
      }

      .customDots {
        background-color: #c4c4c4;
        margin-top: 3rem;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        li {
          margin: 0;
        }
      }

      .activeDots {
        background-color: #fff;
        margin-top: 2.9rem;
        height: 9px;
        width: 9px;
        border-radius: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .Featured {
    .Main {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}
@media screen and (max-width: 767px) {
  .Featured {
    .Main {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
