.galleryWrap {
  display: flex;
  position: relative;
  .galleryImage {
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-bottom: -18px;
  }
  .Textwrape {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 1%;
  }
  .headWrapper {
    @media (max-width: 1024px) {
      font-size: 20px;
      font-weight: 700;
    }
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    font-family: 'sans-serif';
    .coloredHeadWrap {
      color: #0b8ed7;
      padding-left: 5px;
    }
  }
  .lowertext {
    @media only screen and (max-width: 1024px) {
      font-size: 10px;
      font-weight: 700;
    }
    font-size: 40px;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    font-family: 'Poppins';
  }
  .imagewrape {
    @media only screen and (max-width: 780px) {
      .imagewrape {
        flex-direction: column !important;
      }
    }
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    width: 100%;
    top: 82%;
    justify-content: space-around;
  }
  .buttonImage1 {
    bottom: 110px;
    width: 28%;
    cursor: pointer;
    left: 200px;
    margin: 1%;
    margin-left: 15%;
  }
  .buttonImage2 {
    bottom: 110px;
    width: 31%;
    cursor: pointer;
    left: 740px;
    margin: 1%;
    margin-right: 15%;
  }
}
