.border {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ffdd15 0%,
    #ffd915 3.83%,
    #fdce17 7.3%,
    #fbbc19 10.64%,
    #f8a21c 13.88%,
    #f6921e 15.52%,
    #f68e1f 20.65%,
    #f48321 25.3%,
    #f27124 29.76%,
    #f05a28 33.69%,
    #f05628 38.27%,
    #ef4b27 42.42%,
    #ee3926 46.41%,
    #ec1f24 50.27%,
    #ec1c24 50.67%,
    #e81e27 54.36%,
    #dd2531 57.7%,
    #cb3040 60.91%,
    #b14057 64.05%,
    #8f5573 67.12%,
    #666e97 70.15%,
    #368cbf 73.09%,
    #00adee 75.97%,
    #01a9eb 80.68%,
    #059ee3 84.95%,
    #0c8cd5 89.05%,
    #1672c2 93.05%,
    #2251a9 96.93%,
    #2e3191 100%
  );
}
.outerwrap {
  .wrap {
    max-width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 130px;
    @media screen and (max-width: 1029px) {
      height: auto;
      padding: 2rem 0rem;
    }
    align-items: center;
    @media screen and (max-width: 1029px) {
      flex-direction: column;
      justify-content: center;
    }
    .content {
      font-size: 24px;
      font-weight: 700;
      font-family: Poppins;
      color: white;
      @media screen and (max-width: 1029px) {
        text-align: center;
      }
    }
    .button {
      max-width: 330px;
      width: 100%;
      margin: 0rem 1rem;
      @media screen and (max-width: 1029px) {
        margin-top: 1rem;
      }
      button {
        cursor: pointer;
        border-radius: 40px;
        border: 0px;
        font-size: 16px;
        color: white;
        font-family: DM Sans;
        font-weight: 700;
        background-color: #6399f8;
        max-width: 330px;
        width: 100%;
        height: 50px;
      }
    }
    .logo {
      @media screen and (max-width: 1029px) {
        display: none;
      }
      img {
        max-width: 130px;
        margin-top: 1rem;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .outerwrap {
    .wrap {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}
@media screen and (max-width: 767px) {
  .outerwrap {
    .wrap {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
