.border {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ffdd15 0%,
    #ffd915 3.83%,
    #fdce17 7.3%,
    #fbbc19 10.64%,
    #f8a21c 13.88%,
    #f6921e 15.52%,
    #f68e1f 20.65%,
    #f48321 25.3%,
    #f27124 29.76%,
    #f05a28 33.69%,
    #f05628 38.27%,
    #ef4b27 42.42%,
    #ee3926 46.41%,
    #ec1f24 50.27%,
    #ec1c24 50.67%,
    #e81e27 54.36%,
    #dd2531 57.7%,
    #cb3040 60.91%,
    #b14057 64.05%,
    #8f5573 67.12%,
    #666e97 70.15%,
    #368cbf 73.09%,
    #00adee 75.97%,
    #01a9eb 80.68%,
    #059ee3 84.95%,
    #0c8cd5 89.05%,
    #1672c2 93.05%,
    #2251a9 96.93%,
    #2e3191 100%
  );
}
.welcomeWrapper {
  background: linear-gradient(180deg, #363636 0%, #111111 100%);
  padding: 2rem 0rem 4rem 0rem;
  .headWrapper {
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    .coloredHeadWrap {
      color: #0b8ed7;
      padding-left: 5px;
    }
    .remasterImage {
      @media (max-width: 650px) {
        width: 100%;
      }
    }
  }
  .groupedremaster {
    @media (max-width: 650px) {
      display: none !important;
    }
  }
  .mobileRemaster {
    display: none;
    @media (max-width: 650px) {
      display: block;
    }
  }
  .descWrapper {
    font-size: 22px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: 1.5rem 0rem;
    @media (max-width: 500px) {
      font-size: 30px;
      line-height: 28px;
    }
  }
  .buttonwrap {
    width: 100%;
    margin: auto;
    cursor: pointer;
    text-align: center;
    .comingSoon {
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
