.wrap {
  max-width: 1120px;
  margin: 2rem auto;
  border-radius: 20px;
  background: linear-gradient(0deg, #363636 0%, #111111 100%);
  padding: 2rem;
  box-sizing: border-box;
  h1 {
    color: white;
  }
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .grid {
    max-width: 280px;
    margin: 2rem 2rem;
    img {
      width: 100%;
      border-radius: 20px;
    }
    button {
      background-color: #f6921e;
      color: black;
      font-size: 19px;
      font-weight: 700;
      font-family: 'Open Sans';
      width: 100%;
      display: block;
      text-align: center;
      border-radius: 20px;
      max-width: 200px;
      margin: 2rem auto 0rem;
      text-decoration: none;
      padding: 7px;
      cursor: pointer;
      border: 0px;
    }
  }
  @media screen and (max-width: 1200px) {
    margin-left: 40px;
    margin-right: 40px;
  }
  @media screen and (max-width: 1120px) {
    margin-left: 30px;
    margin-right: 30px;
  }
}
