@import 'src/Styles.scss';

.container {
  background: linear-gradient(180deg, #363636 0%, #111111 100%);
  height: auto;

  .hero {
    .grid {
      justify-content: space-between;
      padding-top: 95px;
      @media screen and (max-width: 1140px) {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
      }
    }
    .matter {
      max-width: 549px;

      .header {
        font-family: Open Sans;
        font-weight: bold;
        font-size: 42px;
        line-height: 46px;
        color: #ffffff;
      }
      .body {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        margin-top: 27px;
      }
      .heading {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 20px;

        color: #ffffff;
      }
    }
    .text {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

      color: #ffffff;
      margin-top: 39px;
      padding-bottom: 60px;
    }
  }
}
.image {
  img {
    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }
}
