.modal {
  overflow: scroll;
  display: flex;
  .popupwrap {
    margin: 2rem auto !important;
    box-sizing: border-box;
    background: #1a1919;
    border-radius: 35px;
    max-width: 500px;
    width: 100%;
    position: relative;
    height: 230px;
    text-align: center;
    box-shadow: 0px -1px 12px #7e7e7e;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
    .cross {
      position: absolute;
      right: -4px;
      top: -4px;
      background-color: #000;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      display: flex;
      @media screen and (max-width: 767px) {
        display: flex;
      }
      @media (max-width: 580px) {
        right: 10px;
        top: 10px;
      }
    }
    .headingWrap {
      color: #ffffff;
      padding: 2rem 1rem;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      @media (max-width: 475px) {
        padding: 1rem 1rem;
      }
    }
    .paraWrapper {
      font-size: 14px;
      line-height: 18px;
      padding: 10px 3rem;
      color: #ffffff;
      font-family: 'Open Sans';
      @media (max-width: 475px) {
        padding: 0px 3rem;
      }
    }
  }
}
