.spinner {
	// height: 100vh;
	text-align: center;
	font-size: 10px;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: opacity(0.7);
}

.spinner > div {
	height: 40px;
	width: 4.92px;
	border-radius: 20%;
	margin-right: 3px;
	margin-top: auto;
	display: inline-block;
	justify-content: center;
	align-items: center;

	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.rect1,
.rect2,
.rect3,
.rect4,
.rect5 {
	align-items: center;
}
.spinner .rect1 {
	background: #f8df17;
	width: 4.92px;
	border-radius: 20%;
	-webkit-animation-delay: -1.3s !important;
	animation-delay: -1.3s;
}

.spinner .rect2 {
	width: 4.92px;
	border-radius: 20%;
	background: #ff7031;
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	width: 4.92px;
	border-radius: 20%;
	background: #dc1631;
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

.spinner .rect4 {
	width: 4.92px;
	border-radius: 20%;
	background: #48abee;
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	width: 4.92px;
	border-radius: 20%;
	background: #372a92;
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1);
	}
}

@keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1);
		-webkit-transform: scaleY(1);
	}
}
