@import "src/Styles.scss";

.appbar {
  text-align: center;
  background: linear-gradient(180deg, #363636 0%, #111111 100%);
  height: 180px;
  color: white; //   display: flex;
  .image {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-self: center;
  }
  .text {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    @media screen and (max-width: 400px) {
      font-size: 12px;
    }
    @media screen and (max-width: 250px) {
      font-size: 8px;
    }
  }
}
