.wrap {
  max-width: 1120px !important;
  margin: 1rem auto 111px;

  // end class

  .NFTWrap.NFT3d {
    padding: 0px;
    height: 550px;
    padding-top: 3rem;
    background-image: none !important;
    margin-top: unset;
    iframe {
      border: 0px;
    }
  }
  .NFTWrap {
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    margin-top: 40px;
    padding: 4.5rem;
    flex-wrap: unset;
    @media (max-width: 1005px) {
      height: 700px;
    }
    .scifiText {
      font-family: 'Open Sans';
      font-size: 37px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: -1px;
      color: #fff;
      text-align: right;
      @media (max-width: 690px) {
        margin-top: 1rem;
        text-align: center;
        margin-right: 0rem;
      }
      .coloredText {
        color: #f8a21c;
      }
    }
    .img {
      img {
        max-width: 450px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1005px) {
  .wrap {
    .NFTWrap {
      flex-direction: column;
      justify-content: center;
      padding: 3rem 2rem;
      align-items: center;
      text-align: center;
      .text {
        margin-right: 0px;
        text-align: center;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 1rem;
      }
    }
  }
}
