.banner {
  height: 100%;
  max-width: 530px;
  width: 100%;
  // background-image: linear-gradient(  100%, #111111 100%);
  background-image: linear-gradient(#111111 0%, #363636 100%);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 0px 40px;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}

.topImagelogo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 30px 0 10px 0;
  .everscapBeta {
    width: 200px;
    height: 60px;
  }
  .artefyBeta {
    width: 130px;
    height: 60px;
  }
}
.everscape {
  text-align: center;
  img {
    max-width: 320px;
  }
  h3 {
    font-size: 28px;
    color: #fff;
    font-family: 'Gotham';
    .regtitle {
      font-size: 36px;
      line-height: 38px;
      span {
        color: #ffda15;
      }
    }
  }
  .borderBottom {
    margin-top: 10px;
  }
}
.slogan {
  margin-top: 50px;
}

.sloganText {
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #fcfcfd;
  margin: 0;
  &.blue {
    color: #3fb5f5;
  }
}

.borderBottom {
  height: 3px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 900px) {
    width: 67%;
    max-width: 300px;
  }
  background: linear-gradient(
    90deg,
    #ffdd15 0%,
    #ffd915 3.83%,
    #fdce17 7.3%,
    #fbbc19 10.64%,
    #f8a21c 13.88%,
    #f6921e 15.52%,
    #f68e1f 20.65%,
    #f48321 25.3%,
    #f27124 29.76%,
    #f05a28 33.69%,
    #f05628 38.27%,
    #ef4b27 42.42%,
    #ee3926 46.41%,
    #ec1f24 50.27%,
    #ec1c24 50.67%,
    #e81e27 54.36%,
    #dd2531 57.7%,
    #cb3040 60.91%,
    #b14057 64.05%,
    #8f5573 67.12%,
    #666e97 70.15%,
    #368cbf 73.09%,
    #00adee 75.97%,
    #01a9eb 80.68%,
    #059ee3 84.95%,
    #0c8cd5 89.05%,
    #1672c2 93.05%,
    #2251a9 96.93%,
    #2e3191 100%
  );
}

.disclaimer {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  width: 415px;
  margin-top: 20px;
}

.lower {
  margin-top: 70px;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;

  .first,
  .second,
  .third {
    // text-align: center;

    p {
      margin: 0;
      color: white;
      font-family: 'Gotham Book';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      text-align: center;
      color: #ffffff;
      font-weight: lighter;

      span {
        font-weight: bold;
      }
    }

    h3 {
      margin: 0;
      color: white;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 39px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .topImage {
    position: relative;
    z-index: 100;
    right: -40px;
    width: 100px;
    height: 60px;
  }
  img {
    margin-left: -50px;
    width: 250px;
    height: 200px;
    position: relative;
    top: 0;
  }
  .smallp {
    font-size: 12px !important;
    width: 100% !important;
  }
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  .topImage {
    position: relative;
    z-index: 100;
    right: -40px;
    width: 65.57px;
    height: 38.64px;
  }
  div {
    width: 113px;
    height: 90px;
    align-items: center;
    justify-content: center;
  }
  .txtwrap {
    display: block;
    margin-right: 10px;
    border-right: 1px solid white;
    padding: 0px 10px;
    margin-top: 10px;
    min-height: 82px;
  }
  img {
    position: relative;
    width: 100%;
    border-radius: 20px;
  }
}

.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .topImage {
    position: relative;
    z-index: 100;
    right: -40px;
    width: 65.57px;
    height: 38.64px;
  }
  img {
    position: relative;
    width: 140px;
    height: 145px;
    right: 25px;
  }
}

.fdrow {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  // border: 2px solid;
  border-radius: 20%;
  padding: 25px 0;
  flex-direction: column;
  margin: 0 15px;
  position: relative;
  // border-image: linear-gradient(180deg, #00E6F0, #B35AFF) 1;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(180deg, #00e6f0, #b35aff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}
.logincard {
  display: flex;
  align-items: flex-start;
  .second:last-child {
    .txtwrap {
      border-right: 0px;
    }
  }
  .second:first-child {
    img {
      border-radius: 0px;
    }
  }
}
.fdinner {
  h6 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
  }
}
