.mainContainer {
  .crateImage {
    @media (max-width: 475px) {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.MuiGrid-spacing-xs-2 {
  @media (max-width: 991px) {
    width: calc(100% + 0px) !important;
  }
}
.modalImage {
  @media (max-width: 475px) {
    width: 100% !important;
    height: unset !important;
    margin: unset !important;
    min-height: unset !important;
    min-width: unset !important;
    padding: unset !important;
  }
}

.mainPop {
  border: 1px solid red;
  padding: 0rem 2rem;
  width: 250px;
  .btnTextWrap {
    display: flex;
    justify-content: center;
    .riseBtn {
      background-color: #ed2425;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 2rem;
      padding: 0.3rem 2.5rem 0.3rem 2.5rem;
      font-size: 20px;
      font-weight: bold;
      margin-top: 1.5rem;
      cursor: pointer !important;
    }
  }
  .riseText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    line-height: 24px;
    font-weight: normal;
    @media (max-width: 400px) {
      flex-direction: column;
    }
    .cratePrice {
      color: #ed2425;
      font-size: 23px;
      line-height: 12px;
      font-weight: bold;
      @media (max-width: 400px) {
        margin-top: 1rem;
      }
    }
  }
  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.modalNft {
  @media (max-width: 475px) {
    margin-top: 0px !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
  .listingBtn {
    @media (max-width: 475px) {
      align-items: unset !important;
    }
  }
}
.boxContainer {
  .headText {
    font-size: 54px;
    line-height: 64px;
    font-weight: bold;
    color: #ed2425;
    padding: 2rem 0rem 0rem 0rem;
    @media (max-width: 680px) {
      text-align: center;
      font-size: 22px;
    }
    @media (max-width: 421px) {
      line-height: unset;
    }
  }
}
.rarityWrapper {
  position: absolute;
  margin-top: 0.5rem;
  .badgewrap2 {
    min-width: 130px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    .logoo2 {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: #3a3e48;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 16px;
        border-radius: unset;
      }
      z-index: 9;
    }
    .txt2 {
      font-size: 10px;
      font-family: 'Open Sans';
      font-weight: 400;
      text-transform: uppercase;
      color: white;
      border-radius: 20px;
      height: 25px;
      padding: 0rem 1rem;
      background-color: #3a3e48;
      display: flex;
      align-items: center;
      margin-left: -1rem;
    }
  }
}

.overlay {
  display: none;
  background: rgba(32, 34, 40, 0.91);
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 20px;
  z-index: 99;
  box-sizing: border-box;
  // border: 1px solid #61bb07;
  .first {
    padding: 1rem 0.5rem;
    padding-bottom: 0.5rem;
    .titlevalwrap {
      display: flex;
      align-items: center;
      .title {
        font-size: 10px;
        font-weight: 400;
        font-family: 'Open Sans';
        color: #aea3a3;
        width: 75px;
        padding-right: 0.5rem;
        padding-bottom: 0.4rem;
        text-align: right;
      }
      .val {
        width: calc(100% - 75px);
        padding-left: 0.5rem;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Open Sans';
        color: white;
        padding-bottom: 0.4rem;
        border-left: 1px solid #353945;
      }
    }
    .namedesc {
      display: flex;

      .maintitle {
        font-size: 12px;
        font-weight: 700;
        font-family: 'Open Sans';
        color: #aea3a3;
        margin-top: 4px;
        width: 75px;
        text-align: right;
        padding-right: 0.5rem;
        padding-bottom: 0.4rem;
      }
      .namedescwrap {
        width: calc(100% - 75px);
        padding-left: 0.5rem;
        padding-bottom: 0.4rem;
        border-left: 1px solid #353945;
        .name {
          font-size: 14px;
          font-weight: 700;
          font-family: 'Open Sans';
          color: white;
        }
        .desc {
          font-size: 8px;
          font-weight: 400;
          font-family: 'Open Sans';
          color: white;
          height: 35px;
          overflow-y: auto;
        }
      }
    }
  }
  .second {
    background: rgba(53, 57, 69, 0.85);
    padding: 3px 0.5rem;
    display: flex;
    align-items: center;
    .badgewrap2 {
      min-width: 130px;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      .logoo2 {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: #3a3e48;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 16px;
          border-radius: unset;
        }
        z-index: 9;
      }
      .txt2 {
        font-size: 10px;
        font-family: 'Open Sans';
        font-weight: 400;
        text-transform: uppercase;
        color: white;
        border-radius: 20px;
        height: 25px;
        padding: 0rem 1rem;
        background-color: #3a3e48;
        display: flex;
        align-items: center;
        margin-left: -1rem;
      }
    }
    .holo {
      padding-left: 0.4rem;
      margin-left: 0.8rem;
      font-size: 14px;
      color: white;
      font-family: 'Open Sans';
      font-weight: 400;
      border-left: 1px solid;
      display: flex;
      align-items: center;
    }
  }
  .third {
    padding: 1rem 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    .prt1 {
      width: 60%;
      .trdwrp {
        display: flex;
        padding-bottom: 5px;
        .ttle {
          width: 55%;
          font-size: 8px;
          font-weight: 700;
          color: #aea3a3;
          font-family: 'Open Sans';
          text-align: right;
        }
        .vlu {
          padding-left: 1rem;
          width: 45%;
          font-size: 8px;
          font-weight: 400;
          color: white;
          font-family: 'Open Sans';
        }
      }
    }
    .prt2 {
      width: 40%;
      background: rgba(53, 57, 69, 0.85);
      border-radius: 6px;
      padding: 5px;
      text-align: center;
      box-sizing: border-box;
      .hd {
        font-size: 12px;
        color: #61bb07;
        font-weight: 700;
        font-family: 'Open Sans';
        margin-bottom: 3px;
      }
      .tags {
        font-size: 10px;
        color: white;
        font-weight: 400;
        font-family: 'Open Sans';
      }
    }
  }
}
.styledImage:hover .overlay {
  display: block;
}
