.modal {
  overflow: scroll;
  display: flex;
  .popupwrap {
    margin: 2rem auto !important;
    box-sizing: border-box;
    background: linear-gradient(180deg, #363636 0%, #111111 100%);
    border-radius: 20px;
    max-width: 700px;
    width: 100%;
    position: relative;
    outline: none;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
    .cross {
      position: absolute;
      right: -12px;
      top: -12px;
      background-color: #111111;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
      //   display: none;
      @media screen and (max-width: 767px) {
        display: flex;
      }
      @media (max-width: 580px) {
        right: 10px;
        top: 10px;
      }
    }
    .modal1Img {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .rewardSecond {
      background-color: #000;
      padding: 1rem 3.3rem;
      .textWrap {
        color: #fff;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }
      ul {
        color: #fff;
        padding: 0;
        margin: 0;
      }
      .divider {
        width: 100%;
        background-color: #ff0000;
        margin: 8px 0 0 0;
      }
      .reward2 {
        width: 100%;
        padding-top: 1rem;
      }
      .uniquetext {
        width: 100%;
        padding-top: 1rem;
      }
    }
    .rewardThird {
      .reward3 {
        width: 100%;
        background: #000;
        padding-bottom: 1rem;
      }
    }
    .first {
      width: 310px;
      .titlewrap {
        @media screen and (max-width: 767px) {
          text-align: center;
        }
        color: white;
        .title1 {
          font-size: 25px;
          font-family: 'Open Sans';
          font-weight: 400;
        }
        .title2 {
          font-size: 39px;
          font-family: 'Open Sans';
          font-weight: 700;
        }
        margin-bottom: 3rem;
      }
      .img {
        img {
          width: 100%;
        }
      }
    }
    .second {
      width: calc(100% - 310px);
      @media screen and (max-width: 767px) {
        max-width: 500px;
        width: 100%;
        margin-top: 2rem;
        padding-left: 0px;
      }
      padding-left: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .tabhead {
        display: flex;
        margin-bottom: 5px;
        @media screen and (max-width: 767px) {
          margin-bottom: 2rem;
        }
        .head {
          font-family: 'Gotham Light';
          font-size: 23px;
          line-height: 48px;
          letter-spacing: -0.01em;
          text-align: left;
          color: #a69a9a;
          border-bottom: 1px solid #a69a9a;
          cursor: pointer;
          margin-right: 34px;
          @media screen and (max-width: 767px) {
            font-size: 18px;
          }
        }
        .head.active {
          font-family: 'Gotham';
          color: #3fb5f5;
          font-weight: 700;
          border-bottom: 2px solid #3fb5f5;
        }
      }
      .content {
        .inputwrap {
          margin-bottom: 2rem;
          .title {
            font-family: 'Open Sans';
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 12px;
            letter-spacing: 0px;
            text-align: left;
            color: #b1b5c3;
            margin-bottom: 12px;
            text-transform: uppercase;
          }
          .title.titleo {
            display: flex;
            justify-content: space-between;
            div {
              display: flex;
              div {
                &:first-child {
                  margin-right: 4rem;
                }
              }
            }
          }
          input {
            background-color: transparent;
            border-color: #e6e8ec;
            border: 2px solid #e6e8ec;
            border-radius: 20px;
            height: 40px;
            box-sizing: border-box;
            width: 100%;
            padding: 0rem 1rem;
            color: #fcfcfd;
          }
        }
        .pricewrap {
          display: flex;
          margin: 2rem 0rem;
          align-items: center;
          justify-content: flex-end;
          .txt {
            font-family: 'Gotham Light';
            font-size: 23px;
            font-style: normal;
            font-weight: 300;
            line-height: 48px;
            letter-spacing: -0.01em;
            text-align: left;
            margin-right: 3rem;
            color: #fcfcfd;
          }
        }
        .btnwrap {
          display: flex;
          justify-content: flex-end;
          button {
            max-width: 185px;
            width: 100%;
            height: 40px;
            border: 0px;
            border-radius: 20px;
            cursor: pointer;
            background-color: #f68e1f;
            color: #111111;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 700;
          }
        }
        .btnwrappaypal {
          display: flex;
          justify-content: flex-end;
          button {
            width: 100%;
            height: 40px;
            border: 0px;
            border-radius: 20px;
            cursor: pointer;
            background-color: #f68e1f;
            color: #111111;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
      .congWrap {
        text-align: center;
        max-width: 430px;
        margin: auto;
        margin-bottom: 6rem;
        @media screen and (max-width: 767px) {
          margin-bottom: auto;
        }
        .title {
          font-size: 23px;
          font-family: 'Gotham';
          color: #fcfcfd;
        }
        .cntnt1 {
          font-size: 23px;
          font-family: 'Gotham Light';
          color: #fcfcfd;
          margin: 2rem 0rem;
        }
        .cntnt2 {
          font-family: 'Open Sans';
          font-size: 19px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: -0.01em;
          text-align: center;
          color: #fcfcfd;
        }
        button {
          width: 100%;
          height: 40px;
          border: 0px;
          border-radius: 20px;
          cursor: pointer;
          background-color: #f68e1f;
          color: #111111;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0;
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 700;
          margin-top: 1.5rem;
        }
      }
    }
  }
}
.price {
  font-family: 'Open Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: right;
  color: #f68e1f;
  padding-right: 13px;
  margin-top: 8px;
}
.headingpop {
  h3 {
    color: #3fb5f5;
    font-size: 24px;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
  }
}
.readInput {
  display: flex;
  justify-content: space-around;
  input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
    margin-top: 15px;
    max-width: 320px;
    color: #fff;
  }
}
.descritionDetail {
  margin-top: 20px;
  p {
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 28px;
    font-weight: 300;
  }
}
.popupFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    color: #fff;
    font-size: 16px;
  }
  .iconsMain {
    display: flex;
    justify-content: space-between;
    width: 150px;
    span {
      color: #fff;
      text-align: center;
      img {
        width: 40px;
        margin-bottom: 5px;
      }
      a {
        cursor: pointer;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
.copy {
  background: #f68e1f;
  border-radius: 20px;
  border: 0px;
  width: 150px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #111111;
  justify-content: center;
  height: 37px;
  margin-top: 15px;
}
