.viewNftButton {
  border: none;
  outline: none;
  // padding: 0.4rem 2.8rem;
  background: #3fb5f5;
  border-radius: 20px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  margin-top: 1rem;
  width: 95px;
  color: white;
}
.viewListButton {
  border: none;
  outline: none;
  // padding: 0.4rem 2.8rem;
  background: #f68e1f;
  border-radius: 20px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  margin-top: 1rem;
  width: 95px;
  color: white;
}

.ownedText {
  color: black;
  background: #33eb91;
  border-radius: 5px !important;
  padding: 0.2rem 0.4rem;
  font-size: 11px;
  max-width: 75px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  margin-top: 1rem;
  width: 95px;
}
.quickListSelection {
  color: #fff;
  font-size: 21px;
  padding-left: 4px;
  font-weight: bold;
  border: 1px solid white;
}
.MuiSlider-thumb:hover {
  color: green;
}
