@import "src/Styles.scss";

.hero {
  background: var(--background-white);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 700px;
  // padding: 25px 0;
  @media screen and (max-width: 1200px) {
    // padding: 50px 10vw;
    text-align: left;
    min-height: 700px;
  }

  .grid {
    max-width: 1550px;
    gap: 50px;
    @media screen and (min-width: 1200px) {
      // gap: 0;
      transform: translateY(-140px);
    }

    .header {
      font-weight: 900;
      margin-bottom: 3rem;
      padding-bottom: 10px;
      margin-top: 120px;
      line-height: 0;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 400px) {
        transform: translateX(-20px);
      }
      @media screen and (max-width: 900px) {
        margin-left: 60px;
        font-size: 12px;
      }
      .highlight {
        color: var(--blue-text);
      }
      .highlight2 {
        color: rgb(226, 106, 106);
      }
      .highlight3 {
        color: rgb(71, 167, 108);
      }
      .highlight4 {
        color: rgb(216, 216, 101);
      }
      .highlight5 {
        color: rgb(223, 73, 130);
      }
      .highlight6 {
        color: rgb(120, 96, 204);
      }
    }
    max-width: 95vw;

    .matter {
      min-width: 500px;
    }
    .text1 {
      font-family: var(--font), monospace;
      font-weight: 900;
      text-align: left;
      margin-top: 15px;
      font-size: 40px;
      @media screen and (max-width: 900px) {
        text-align: center;
        font-size: 29px;
        margin-top: 25px;
      }
    }
    .text2 {
      font-family: var(--font), monospace;
      font-weight: 900;
      text-align: left;
      // margin-top: 95px;
      font-size: 40px;
      color: var(--blue-text);
      @media screen and (max-width: 900px) {
        text-align: center;
        font-size: 29px;
        // margin-top: 25px;
      }
      .image {
        @media screen and (max-width: 614px) {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        .text3 {
          @media screen and (max-width: 614px) {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
    }

    .text3 {
      font-family: var(--font), monospace;
      font-size: 16px;
      text-align: left;
      float: left;
      font-weight: 600;
      line-height: 0.5 em;
      margin-top: 10px;
      max-width: 400px;
      text-align: justify;
      text-justify: inter-word;
      @media screen and (max-width: 900px) {
        text-align: center;
        font-size: 14px;
        margin-top: -15px;
        padding: 0 30px;
      }
    }
    .text4 {
      margin-left: 20px;
      margin-right: 20px;
      font-family: var(--font), monospace;
      font-size: 32px;
      text-align: left;
      float: left;
      line-height: 1.3 em;
      margin-top: 30px;
      color: var(--purple);
      font-weight: 900;
      margin-bottom: 16px;
      @media screen and (max-width: 900px) {
        text-align: center;
        font-size: 30px;
        margin-bottom: 35px;
      }
    }
    hr {
      visibility: hidden;
    }
    .card {
      height: auto;
      width: 30vw;
      transform: scale(1.4) translateX(50px);
      min-width: 300px;
      max-width: 400px;
      @media screen and (max-width: 1200px) {
        transform: scale(1.5) translateX(10px);
      }
    }
  }
}
