@import "src/Styles.scss";

.grid {
  max-height: 400px;
  @media screen and (min-width: 1200px) {
    max-height: 125px;
  }

  .card {
    min-width: 265px;
    max-width: 265px;
    width: 33vw;
    margin: 5px;
    border-radius: 20px;
    color: white;
    display: flex;
    transform: translateY(-100px);
    @media screen and (min-width: 1200px) {
      transform: translateY(-70px);
    }
    .image {
      font-size: 32px;
      text-align: center;
      align-items: center;
    }
  }
  color: var(--blue-text);
  background: var(--background-white-inv);
  padding: 1.5rem;
  gap: 5rem;
  .signup {
    max-width: 1230px;

    transform: translateY(-75px);
    @media screen and (max-width: 900px) {
      transform: translateY(-270px);
    }
    text-align: center;
    .text {
      margin-bottom: 10px;

      font-size: 1.45rem;
      font-family: var(--font), monospace;
      font-weight: 600;
      @media screen and (max-width: 900px) {
        margin-top: 100px;
      }
    }
    .box {
      @media screen and (max-width: 900px) {
        gap: 2rem;
      }
    }
    .button {
      font-family: var(--font), monospace;
      background-color: var(--blue-text);
      color: black;
      font-size: 24px;
      font-weight: 600;
      padding: 2px 15px;
      border-radius: 0;
    }
  }
}
