.mainwrap {
  padding-top: 3rem;
  padding-bottom: 3.5rem;
  background: linear-gradient(180deg, #181818 0%, #111111 100%);
  .img {
    img {
      width: 100%;
    }
  }
  .wrap {
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(
      180deg,
      rgba(54, 54, 54, 0.9) 0%,
      rgba(17, 17, 17, 0.9) 100%
    );
    border-radius: 20px;
    padding: 2rem;
    // margin-top: -21%;
    position: relative;
    box-sizing: border-box;
    .heading {
      color: white;
      font-family: 'Open Sans';
      font-size: 42px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    .desc {
      display: flex;
      color: white;
      .imgandcontent {
        display: flex;
        width: 65%;
        border-right: 2px solid #353945;
        padding-right: 1rem;
        margin-right: 4%;
        align-items: center;
        justify-content: space-evenly;
        .content {
          padding-left: 2rem;
          .msg {
            color: #61bb07;
            font-family: 'Open Sans';
            font-size: 20px;
            max-width: 240px;
            width: 100%;
            height: 40px;
            border: 1px solid #61bb07;
            border-radius: 20px;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            b {
              margin-right: 6px;
            }
          }
          .title {
            font-size: 18px;
            font-family: 'Open Sans';
            font-weight: 700;
            color: #f8a21c;
            text-transform: uppercase;
          }
          .text {
            margin-top: 0.8rem;
            font-size: 14px;
            font-family: 'Open Sans';
            font-weight: 400;
          }
          button {
            background-color: #3fb5f5;
            max-width: 290px;
            border-radius: 20px;
            width: 100%;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Open Sans';
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0px;
            margin-top: 2rem;
            cursor: pointer;
          }
        }
        img {
          max-width: 199px;
          border-radius: 20px;
        }
      }
      .details {
        width: 35%;
        .detailtitle {
          font-size: 18px;
          font-family: 'Open Sans';
          font-weight: 700;
          color: #ed2425;
          text-transform: uppercase;
        }
        ul {
          padding-left: 20px;
          list-style: circle;
          color: #cbc4c4;
          max-width: 300px;
          li {
            margin-bottom: 15px;
            span {
              font-size: 16px;
              font-family: 'Open Sans';
              line-height: 20px;
            }
          }
        }
        .list {
          .item {
            font-size: 15px;
            font-family: 'Open Sans';
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 0.8rem;
            .orange {
              color: #f68d20;
            }
            .red {
              color: #ed2425;
            }
            .purple {
              color: #b35aff;
            }
            .skyblue {
              color: #01aaec;
            }
            span:first-child {
              width: 30px;
              display: inline-block;
            }
            img {
              max-width: 15px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .crateCard {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 730px) {
      flex-direction: column;
    }
    .cardWrap {
      flex: 0 0 25%;
      margin-right: 1.5rem;
      @media (max-width: 1164px) {
        flex: 0 0 40%;
      }
      @media (max-width: 730px) {
        margin-right: 0rem;
      }
    }
    .textWrap {
      flex: 0 0 25%;
      text-align: center;
      border: 1px solid #ed2425;
      padding: 0.45rem 0rem;
      @media (max-width: 1164px) {
        flex: 0 0 40%;
      }
      @media (max-width: 730px) {
        margin-top: 1rem;
        padding: 0.45rem 1.5rem;
      }
      .topText {
        color: #fff;
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
      }
      .redText {
        color: #ed2425;
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .mainwrap {
    .wrap {
      margin-left: 40px;
      margin-right: 40px;
      .desc {
        .imgandcontent {
          .content {
            button {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .mainwrap {
    .wrap {
      .desc {
        .imgandcontent {
          width: 80%;
          .content {
            .msg {
              font-size: 16px;
              height: 35px;
            }
            button {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .mainwrap {
    margin-bottom: 2rem;
    .wrap {
      margin-left: 30px;
      margin-right: 30px;
      .heading {
        font-size: 30px;
      }
      .desc {
        flex-direction: column;
        .imgandcontent {
          border-right: 0px;
          width: 100%;
          margin-right: 0px;
          padding-right: 0px;
          img {
            max-width: 150px;
          }
          .content {
            button {
              height: 30px;
              font-size: 16px;
              margin-top: 1.5rem;
            }
          }
        }
        .details {
          margin-top: 3rem;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .mainwrap {
    .wrap {
      .desc {
        .imgandcontent {
          flex-direction: column;
          text-align: center;
          .content {
            padding-left: 0px;
            margin-top: 1rem;
            .msg {
              max-width: 100%;
            }
            .text {
              margin-top: 1rem;
            }
            button {
              max-width: 100%;
            }
          }
        }
        .details {
          margin-top: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .mainwrap {
    .wrap {
      margin-left: 15px;
      margin-right: 15px;
      .heading {
      }
      .desc {
        .imgandcontent {
          img {
            max-width: 225px;
          }
          .content {
            button {
            }
          }
        }
        .details {
        }
      }
    }
  }
}
