.Signup {
  background: url(https://artefy.io/assets/images/buyBronz.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.innerwrap {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  position: relative;
  .headingText {
    position: relative;
    h2 {
      color: #fff;
      font-size: 36px;
      text-align: center;

      span {
        color: #609db5;
        font-size: 44px;
      }
    }
  }
}
.buyMain {
  display: flex;
  padding: 70px 70px 110px;
  column-gap: 70px;
  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    row-gap: 60px;
    align-items: center;
  }
  @media (max-width: 575px) {
    padding: 70px 30px 110px;
  }
  .plussign {
    position: absolute;
    top: -55px;
    left: 5%;
    @media (max-width: 992px) {
      position: relative;
    }
  }
  .textDetails {
    width: 50%;
    padding-left: 40px;
    position: relative;
    @media (max-width: 1024px) {
      width: 100%;
      padding-left: 0px;
    }
    h2 {
      color: #fff;
      font-size: 46px;
      text-align: right;
      font-family: 'Marcellus', sans-serif;
      @media (max-width: 1024px) {
        text-align: center;
      }
      @media (max-width: 575px) {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }
    p {
      color: #fff;
      padding-left: 150px;
      position: relative;
      left: 20px;
      @media (max-width: 1024px) {
        text-align: center;
        padding-left: 0;
      }
    }
    span {
      color: #b3afaf;
      text-align: right;
      display: flex;
      justify-content: end;
      @media (max-width: 1024px) {
        justify-content: center;
        text-align: center;
      }
    }
  }
  .imgBuy {
    width: 50%;
    display: flex;
    justify-content: end;
    column-gap: 50px;
    @media (max-width: 1024px) {
      width: 100%;
      justify-content: center;
    }
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    .imgGrid {
      h3 {
        color: #fff;
        text-align: center;
        font-weight: normal;
      }
    }
  }
}

.HeaderMain {
  background-size: cover;
  .headerLogoSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .frazettaWrap {
      width: 15%;
      .frazettalogo {
        width: 100%;
      }
    }
  }
  .flexWrapper {
    display: flex;
    padding: 3rem 0rem;
  }
}
.headingText h2::after {
  position: absolute;
  content: '';
  width: 30%;
  background: #fff;
  height: 1px;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
}
.headingText h2::before {
  position: absolute;
  content: '';
  width: 30%;
  background: #fff;
  height: 1px;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
}
