.outerwrap {
  background: #191817;
  .wrap {
    max-width: 1120px;
    margin: auto;
    // display: flex;
    justify-content: space-between;
    padding: 1.5rem 0rem;
  }
  .topHead {
    margin: 20px auto 0;
    display: block;
    .discover {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 575px) {
        flex-direction: column;
        row-gap: 30px;
      }
      .Dlogo {
        width: 310px;
      }
      .vlogo {
        width: 360px;
        @media (max-width: 575px) {
          width: 230px;
        }
      }
    }
  }
  .wVulcano {
    display: flex;
    align-items: center;
    margin: 40px 0;
    column-gap: 70px;
    @media (max-width: 1050px) {
      flex-direction: column;
      row-gap: 30px;
      padding: 0 30px;
    }
  }
  .textDetail {
    color: #fff;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 575px) {
      width: 100%;
    }
    h3 {
      font-size: 36px;
      margin-bottom: 30px;
      font-family: 'Marcellus', sans-serif;
      font-weight: normal;
    }
    p {
      padding-bottom: 20px;
    }
    span {
      color: #ff7a00;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 30px;
    }
    a {
      color: #fff;
      font-size: 34px;
      font-family: 'Marcellus', sans-serif;
      @media screen and (max-width: 575px) {
        font-size: 20px;
      }
    }
  }
  .whatNftimg {
    img {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  .forgevideo {
    // text-align: center;
    // padding: 40px 0 70px;
    text-align: center;
    margin-top: 80px;
    @media (max-width: 768px) {
      padding: 0 40px;
    }
    img {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .wrap {
      max-width: 1400px;
      margin: auto;
      padding: 0rem 4rem 4rem 4rem;
      box-sizing: border-box;
      @media (max-width: 768px) {
        padding: 0rem;
      }
      .videowrap {
        margin-top: 2rem;
        overflow: hidden;
        :global {
          .video-react-big-play-button {
            width: 100px !important;
            height: 100px !important;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 8px solid #686868;
          }
          .video-react-big-play-button::before {
            top: 23% !important;
            color: #686868;
            font-size: 60px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .Maindiv {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .outerwrap {
    .wrap {
      margin-left: 40px;
      margin-right: 40px;
      flex-direction: column;
      align-items: center;
    }
    .txtbtn {
      margin-top: 1.5rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .outerwrap {
    .wrap {
      margin-left: 30px;
      margin-right: 30px;
      .txtbtn {
        flex-direction: column;
        .txt {
          margin-right: 0px;
          margin-bottom: 1rem;
        }
        .btn {
          button {
            width: 250px;
          }
        }
      }
    }
  }
}
