.innerwrap {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  position: relative;
}

.Signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  position: relative;
  @media (max-width: 1280px) {
    padding: 1rem 0;
  }
  @media (max-width: 1029px) {
    flex-direction: column;
  }
  background: url(https://artefy.io/assets/images/drawnow.png);
  background-repeat: no-repeat;
  background-size: cover;

  .messageContainer {
    color: #416c7d;
    font-size: 42px;
    width: 100%;
    text-align: center;
    font-family: 'Marcellus', sans-serif;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    p {
      font-family: 'Poppins', sans-serif;
    }
    @media (max-width: 1280px) {
      padding-left: 40px;
      padding-right: 40px;
      align-items: center;
      box-sizing: border-box;
    }
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
    }
  }
}
.timewrap {
  display: flex;
  column-gap: 25px;
  @media (max-width: 575px) {
    column-gap: 15px;
  }
  .timer {
    display: flex;
    flex-direction: column;
    .dateNumber {
      color: #fff;
      font-size: 52px;
      font-family: 'Marcellus', sans-serif;
      @media (max-width: 575px) {
        font-size: 22px;
      }
    }
    .dateDays {
      color: #31a3d0;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .colon {
    color: #fff;
    font-family: 'Marcellus', sans-serif;
  }
}
