.innerwrap {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  position: relative;
}

.Signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  position: relative;
  @media (max-width: 1280px) {
    padding: 1rem 0;
  }
  @media (max-width: 1029px) {
    flex-direction: column;
  }
  background: #000;
  .textLine {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Gotham;
    img {
      width: 370px;
      margin-top: 30px;
      @media (max-width: 575px) {
        width: 270px;
      }
    }
  }
  .textDetail {
    text-align: center;
    font-size: 16px;
    color: #fff;
    max-width: 700px;
    margin: 30px auto 0;
    width: 100%;
  }
  .gradientText {
    background: linear-gradient(
      90deg,
      #ffdd15 0%,
      #ffd915 3.83%,
      #fdce17 7.3%,
      #fbbc19 10.64%,
      #f8a21c 13.88%,
      #f6921e 15.52%,
      #f68e1f 20.65%,
      #f48321 25.3%,
      #f27124 29.76%,
      #f05a28 33.69%,
      #f05628 38.27%,
      #ef4b27 42.42%,
      #ee3926 46.41%,
      #ec1f24 50.27%,
      #ec1c24 50.67%,
      #e81e27 54.36%,
      #dd2531 57.7%,
      #cb3040 60.91%,
      #b14057 64.05%,
      #8f5573 67.12%,
      #666e97 70.15%,
      #368cbf 73.09%,
      #00adee 75.97%,
      #01a9eb 80.68%,
      #059ee3 84.95%,
      #0c8cd5 89.05%,
      #1672c2 93.05%,
      #2251a9 96.93%,
      #2e3191 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Open Sans';
    font-weight: 700;
    border-top: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    padding: 1rem 0rem;
  }
  .videoEverscap {
    text-align: center;
    margin-top: 80px;
    @media (max-width: 1024px) {
      padding: 0 30px;
    }
    img {
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
    .wrap {
      max-width: 1400px;
      margin: auto;
      padding: 0rem 4rem 4rem 4rem;
      box-sizing: border-box;
      @media (max-width: 768px) {
        padding: 0rem;
      }
      .videowrap {
        margin-top: 2rem;
        overflow: hidden;
        :global {
          .video-react-big-play-button {
            width: 100px !important;
            height: 100px !important;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 8px solid #686868;
          }
          .video-react-big-play-button::before {
            top: 23% !important;
            color: #686868;
            font-size: 60px;
          }
        }
      }
    }
  }
  .Nftname {
    color: #fff;
    text-align: center;
    font-size: 26px;
  }
  .Nftgrid {
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
    .gridItem {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      margin-bottom: 50px;
      img {
        margin-bottom: 20px;
        width: 200px;
      }
    }
  }
}
