.outerwrap {
  background: linear-gradient(
    34deg,
    #ffdd15 0%,
    #ffd915 3.83%,
    #fdce17 7.3%,
    #fbbc19 10.64%,
    #f8a21c 13.88%,
    #f6921e 15.52%,
    #f68e1f 20.65%,
    #f48321 25.3%,
    #f27124 29.76%,
    #f05a28 33.69%,
    #f05628 38.27%,
    #ef4b27 42.42%,
    #ee3926 46.41%,
    #ec1f24 50.27%,
    #ec1c24 50.67%,
    #e81e27 54.36%,
    #dd2531 57.7%,
    #cb3040 60.91%,
    #b14057 64.05%,
    #8f5573 67.12%,
    #666e97 70.15%,
    #368cbf 73.09%,
    #00adee 75.97%,
    #01a9eb 80.68%,
    #059ee3 84.95%,
    #0c8cd5 89.05%,
    #1672c2 93.05%,
    #2251a9 96.93%,
    #2e3191 100%
  );
  .wrap {
    max-width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0rem;
    .logo {
      .txt {
        font-size: 30px;
        color: #fff;
        font-weight: 700;
      }
      img {
        max-width: 260px;
        width: 100%;
      }
    }
    .txtbtn {
      display: flex;
      justify-content: center;
      align-items: center;
      .txt {
        font-family: 'Poppins';
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        color: #fcfcfd;
        margin-right: 2rem;
      }
      .btn {
        button {
          width: 330px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #01abed;
          border-radius: 40px;
          border: 0px;
          cursor: pointer;
          font-family: DM Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: center;
          color: #000000;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .outerwrap {
    .wrap {
      margin-left: 40px;
      margin-right: 40px;
      flex-direction: column;
      align-items: center;
    }
    .txtbtn {
      margin-top: 1.5rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .outerwrap {
    .wrap {
      margin-left: 30px;
      margin-right: 30px;
      .txtbtn {
        flex-direction: column;
        .txt {
          margin-right: 0px;
          margin-bottom: 1rem;
        }
        .btn {
          button {
            width: 250px;
          }
        }
      }
    }
  }
}
