.artistBox {
  background: linear-gradient(360deg, #363636 0%, #111111 100%);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 1.2rem;
  padding: 2rem;
  min-height: 400px;
  margin-top: 3rem;
  flex: 1;
  gap: 3%;

  * {
    font-family: 'Open Sans';
    color: white;
    box-sizing: border-box;
  }

  img {
    object-fit: cover;
  }

  @media (max-width: 991.99px) {
    flex-direction: column;
    gap: 1.5rem;
  }

  @media (max-width: 600px) {
    padding: 1rem;
  }
}

.leftContent {
  flex: 1 1 38.5%;

  .nameWrapper {
    .logo {
      width: 4rem;
      height: 4rem;
      margin-left: 2rem;
    }

    @media (max-width: 991.99px) {
      justify-content: center;
    }

    @media (max-width: 600px) {
      justify-content: left;
      text-align: left !important;
    }

    @media (max-width: 420px) {
      justify-content: space-between;
    }
  }

  .artistName {
    font-size: 2.1rem !important;
    line-height: 2.3rem !important;
    text-transform: uppercase !important;
  }

  .artistProfileImage {
    width: 100%;
    max-width: 30rem;
    margin-top: 1.5rem;
    border-radius: 1.2rem;
    -webkit-filter: grayscale(100%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: grayscale(100%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .images {
    margin-top: 1.5rem;
    .artistSignature {
      max-width: 15rem;
      max-height: 5rem;
      object-fit: contain;

      @media (min-width: 1023px) {
        width: 13rem;
        max-height: 7rem;
      }
    }
  }

  .description {
    margin-top: 1rem;
    line-height: 1rem !important;
    font-size: 0.8rem !important;
  }

  @media (max-width: 1200px) {
    flex: 1 1 28.5%;
  }

  @media (max-width: 991.99px) {
    flex: 1 1 100%;
    text-align: center;
  }
}

.rightContent {
  flex: 1 1 58.5%;
  max-width: 39.37rem;

  .containerAndMoreNFTsWrap {
    gap: 1.5rem;
  }

  .nftViewContainer,
  .nft3dViewContainer {
    width: 100%;
    border: 0.5rem solid #544f4f;
    height: 33rem;
  }

  .nft3dViewContainer {
    iframe {
      height: 32rem;
    }
    @media (max-width: 600px) {
      order: 2;
    }
  }

  .nftViewContainer {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    gap: 1rem;
    padding: 3rem;

    .nftLoadTitle {
      font-weight: 700 !important;
      min-width: 13rem;
      max-width: 17rem;

      @media (max-width: 600px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: auto;
        font-size: 1.4rem !important;
        text-align: center;
      }

      @media (min-width: 600px) and (max-width: 700px) {
        max-width: 8rem;
      }
    }

    .nftDefaultImage {
      max-width: 17rem;
      height: 100%;
      min-height: 19rem;
      max-height: 22rem;

      @media (max-width: 1024px) {
        max-width: 16rem;
        height: 70%;
      }

      @media (max-width: 768px) {
        max-width: 14rem;
        height: 50%;
      }

      @media (max-width: 600px) {
        max-width: 100%;
        height: 70%;
      }
    }

    @media (max-width: 600px) {
      order: 2;
      position: relative;
    }

    @media (max-width: 550px) {
      flex-direction: column;
      gap: 1.5rem;
      padding: 1rem;
    }

    @media (max-width: 768px) {
      padding: 1rem;
    }
  }

  @media (max-width: 1200px) {
    flex: 1 1 68.5%;
  }

  @media (max-width: 991.99px) {
    flex: 1 1 100%;
    margin-inline: auto;
  }
}

.moreNfts {
  gap: 1rem;
  .nft {
    max-width: 9rem;
    .nftName {
      font-weight: 700;
      line-height: 1.3rem !important;
      margin-bottom: 0.8rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 2.6rem;
    }
    .nftImage {
      width: 9rem;
      height: 12rem;
      border-radius: 1.5rem;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }
    @media (max-width: 600px) {
      width: 45%;
      max-width: 10rem;
    }
  }

  @media (max-width: 600px) {
    order: 1;
  }
}

.viewMoreBtn {
  border: none !important;
  outline: none !important;
  padding: 0.57rem 2.8rem !important;
  background: #f68e1f !important;
  border-radius: 1.3rem !important;
  font-weight: 700 !important;
  line-height: 1rem !important;
  cursor: pointer;
  margin-top: 1rem !important;
  width: 100%;
  color: black !important;
  text-transform: none !important;
  > * {
    color: black !important;
  }
  &:hover,
  &:active,
  &:focus {
    background: #f68e1f !important;
  }
}
