@import '../Variables/index.module.scss';
@import '../Mixins/Buttons.module.scss';
@import '../Mixins/Borders.module.scss';

.border {
  @include gradient-border();
}

.loaderWrap {
  width: 100%;
  height: 354px;
  color: white;
}

.header {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .overlay {
    background-color: rgba(10, 10, 10, 0);
    position: absolute;
    inset: 0;

    .overlayContainer {
      @media (max-width: 600px) {
        padding-inline: 0 !important;
      }
    }

    .overlayContent {
      padding: 3rem;

      @media (max-width: 600px) {
        padding: 0;
      }
    }

    .infoAboutActionBtn {
      @include orange-button();
      padding-block: 0.7rem !important;
      width: 100%;
      border-radius: 0 !important;

      @media (min-width: 601px) {
        display: none;
      }
    }

    .artistsSignatures {
      margin-top: 2rem;
      gap: 2.5rem;

      @media (max-width: 600px) {
        padding: 0 2rem 2rem 2rem;
      }
    }
  }

  * {
    font-family: 'Open Sans';
  }
}

.headingsWrap {
  .heading,
  .subHeading {
    color: white;
  }

  .heading {
    font-size: 2rem !important;
    font-weight: 700 !important;
    margin-bottom: 0.8rem;
  }

  .subHeading {
    font-size: 0.8rem !important;
  }

  @media (max-width: 600px) {
    padding: 2rem 2rem 0 2rem;
  }
}

.logoItem {
  height: 5.5rem;
  width: 11rem;

  .activeItem {
    @include gradient-border();
    margin-top: 0.1rem;
    height: 0.1rem;
  }

  &:hover {
    cursor: pointer;
  }

  .logo {
    object-fit: contain;
    max-width: 11rem;
    height: 2.3rem;

    @media (max-width: 500px) {
      max-width: 7rem;
      height: 2rem;
    }
  }

  .logoTitle {
    font-size: 0.8rem !important;
    line-height: 1rem !important;
    margin-top: 0.3rem;
    color: white;
  }

  @media (max-width: 500px) {
    height: 4rem;
    width: 8rem;
  }
}
