.wrap {
  max-width: 1120px;
  margin: 1rem auto 3rem;
  .gridwrap {
    display: flex;
    margin-left: -1.6rem;
    justify-content: center;
    flex-wrap: wrap;
    .griditem {
      margin-top: 2rem;
      margin-left: 1.6rem;
      width: 200px !important;
      text-align: center;
      .img {
        overflow: hidden;
        position: relative;
        height: 270px !important;
        font-size: 0px;
        // border-radius: 15px;
        &:hover {
          .overlay {
            display: flex;
          }
        }
        .overlay {
          cursor: pointer;
          box-sizing: border-box;
          background: #242424de;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          // border-radius: 15px;
          padding: 1rem 5px;
          display: flex;
          display: none;
          flex-direction: column;
          justify-content: space-between;
          .title1 {
            font-family: 'Open Sans';
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;
          }
          .title2 {
            font-family: 'Open Sans';
            font-size: 27px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;
          }
          .edition {
            font-family: 'Open Sans';
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;
            margin: 0.5rem 0rem;
          }
          .title3 {
            font-family: 'Open Sans';
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: center;
            color: #ed1c24;
          }
        }
        img {
          height: 100%;
          width: 200px !important;
          // border-radius: 10px;
        }
        .badge {
          position: absolute;
          width: 22px;
          height: 22px;
          background-color: #111111b8;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 10px;
          left: 10px;
          border-radius: 50%;
          img {
            width: 14px;
            height: 14px;
          }
        }
      }
      button {
        margin: auto;
        margin-top: 1.5rem;
        font-family: 'Open Sans';
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: center;
        color: #111111;
        background-color: #f6921e;
        height: 33px;
        width: 145px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 20px;
        border: 0px;
      }
    }
  }
  .NFTWrap.NFT3d {
    padding: 0px;
    height: 550px;
    padding-top: 3rem;
    background-image: none !important;
    margin-top: unset;
    iframe {
      border: 0px;
    }
  }
  .NFTWrap {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin-top: 3rem;
    padding: 4.5rem;
    flex-wrap: wrap;
    .text {
      font-family: 'Open Sans';
      font-size: 37px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: -1px;
      text-align: right;
      color: #f8a21c;
      div {
        color: #ffffff;
      }
      margin-right: 4rem;
    }
    .img {
      img {
        max-width: 450px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrap {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 1005px) {
  .wrap {
    .NFTWrap {
      flex-direction: column;
      padding: 3rem 2rem;
      .text {
        margin-right: 0px;
        text-align: center;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 1rem;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .wrap {
    margin-left: 30px;
    margin-right: 30px;
  }
}
