.outerwrap {
  background: linear-gradient(180deg, #363636 0%, #111111 100%);
  .wrap {
    max-width: 1120px;
    margin: auto;
    padding: 3rem 0rem;
    .imgandcntnt {
      display: flex;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        max-width: 550px;
        margin: auto;
      }
      .img {
        max-width: 476px;
        width: 100%;
        .mainimg {
          position: relative;
          img {
            width: 100%;
          }
          .nftthreed {
            position: absolute;
            bottom: -80px;
            left: -100px;
            @media screen and (max-width: 1300px) {
              bottom: -50px;
              left: -50px;
            }
            @media screen and (max-width: 767px) {
              left: -35px;
            }
            img {
              max-width: 215px;
              width: 100%;
            }
            .nftbadge {
              cursor: pointer;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 0;
              bottom: 0;
              background-color: #ED1C24;
              width: 70px;
              height: 70px;
              border-radius: 50%;
              color: white;
              font-family: 'Open Sans';
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: 14px;
              letter-spacing: 0px;
              text-align: center;
              span {
                font-size: 12px;
              }
            }
          }
        }
        .bottom {
          display: flex;
          justify-content: flex-end;
          color: white;
          margin-top: 3.5rem;
          .col {
            font-size: 16px;
            font-family: 'Open Sans';
            font-weight: 600;
            span {
              font-weight: 300;
              color: #A69A9A;
            }
          }
          .badgewrap {
            margin-left: 1rem;
            color: #FCFCFD;
            font-size: 15px;
            font-family: 'Open Sans';
            font-weight: 400;
            text-transform: uppercase;
            img {
              max-width: 15px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}
.cntnt {
  position: relative;
  margin-left: 4rem;
  width: 100%;
  @media screen and (max-width: 767px) {
    margin-left: 0px !important;
    margin-top: 2rem;
  }
  @media screen and (max-width: 1200px) {
    margin-left: 2rem;
  }
  .lgo {
    max-width: 180px;
    position: absolute;
    right: -2rem;
    @media screen and (max-width: 1200px) {
      max-width: 100px;
      right: -1rem;
    }
    @media screen and (max-width: 767px) {
      max-width: 100px;
      right: -1rem;
    }
    @media screen and (max-width: 400px) {
      max-width: 60px;
      top: 1rem;
    }
  }
  .timewrap {
    .iconwrap {
      color: white;
      display: flex;
      font-size: 14px;
      font-weight: 400;
      div {
        margin-right: 1rem;
        img {
          max-height: 14px;
          margin-right: 2px;
        }
      }
    }
    .timer {
      display: flex;
      margin: 0.5rem 0rem;
      .title {
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #3FB5F5;
        max-width: 60px;
      }
      .title1 {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #61BB07;
      }
      .title2 {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #EF0000;
      }
      .timee2 {
        display: flex;
        font-size: 19px;
        font-weight: 700;
        color: #FFFFFF;
        font-family: 'Open Sans';
        margin-left: 0.5rem;
        .timee {
          display: flex;
          flex-direction: column;
          span {
            display: block;
            margin-top: 0rem;
            font-size: 8px;
            font-weight: 700;
            color: #FFFFFF;
            font-family: 'Open Sans';
          }
        }
        .sep {
          margin: 0rem 0.3rem;
        }
      }
    }
    .textwrap {
      font-family: 'Open Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0px;
      text-align: left;
      color: white;
      display: inline-block;
      position: relative;
      span {
        color: #A69A9A;
      }
      img {
        position: absolute;
        top: -8px;
        right: -10px;
      }
    }
  }
  .titlewrap {
    color: white;
    margin: 4rem 0rem;
    @media screen and (max-width: 767px) {
      margin: 2rem 0rem;
    }
    .title1 {
      font-family: 'Open Sans';
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0px;
      text-align: left;
      @media screen and (max-width: 1200px) {
        font-size: 30px;
        line-height: 35px;
      }
    }
    .title2 {
      font-family: 'Open Sans';
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: 0px;
      text-align: left;
      @media screen and (max-width: 1200px) {
        font-size: 35px;
        line-height: 42px;
      }
    }
    .title3 {
      font-family: 'Open Sans';
      font-size: 25px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 0.5rem;
      @media screen and (max-width: 1200px) {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
  .btnpricewrap {
    .edition {
      font-family: 'Open Sans';
      font-size: 19px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: left;
      color: #F6921E;
    }
    .price {
      font-family: 'Open Sans';
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0px;
      text-align: left;
      color: white;
      margin: 1rem 0rem 1.5rem;
    }
    .button {
      button {
        text-transform: uppercase;
        max-width: 160px;
        width: 100%;
        height: 42px;
        border-radius: 20px;
        background-color: #3FB5F5;
        cursor: pointer;
        border: 0px;
        color: white;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .tabswrap {
    margin-top: 4rem;
    .headwrap {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #A69A9A;
      padding-bottom: 6px;
      .head {
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans';
        color: #A69A9A;
      }
      .head.active {
        color: #ffff;
        font-weight: 700;
      }
      .divider {
        width: 1px;
        height: 16px;
        background-color: #A69A9A;
        margin: 0rem 1rem;
      }
    }
    .bodywrap {
      font-family: 'Open Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
      margin-top: 1rem;
      max-height: 100px;
      overflow-y: scroll;
      /* width */
      &::-webkit-scrollbar {
        width: 3px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 20px;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .outerwrap {
    .wrap {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}
@media screen and (max-width: 767px) {
  .outerwrap {
    .wrap {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
.soldImg {
  position: absolute;
  width: 460px !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  @media (max-width: 1024px) and (min-width: 768px) {
    width: 320px !important;
  }
  @media screen and (max-width: 575px) {
    width: 280px !important;
    left: 0;
    transform: unset;
    top: 0;
  }
}
.btnpricewrap {
  position: relative;
  .badgePic {
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 1100px) and (min-width: 768px) {
      top: -70px;
    }
    @media screen and (max-width: 575px) {
      position: relative;
      top: 20px;
    }
    img {
      @media (max-width: 1100px) and (min-width: 768px) {
        width: 110px;
      }
      @media screen and (max-width: 575px) {
        width: 110px;
      }
    }
  }
}
