.wrap {
  max-width: 1120px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  @media (max-width: 1000px) {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  @media (max-width: 1200px) {
    margin-left: 40px;
    margin-right: 40px;
  }
  @media (max-width: 767px) {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.StartCollection {
  background: #0b1426;
  display: flex;
  flex-direction: column;
  align-items: center;
  .topBorder,
  .bottomBorder {
    height: 3px;
    width: 100%;
    @media (max-width: 1000px) {
      width: 100%;
    }
    background: linear-gradient(
      90deg,
      #ffdd15 0%,
      #ffd915 3.83%,
      #fdce17 7.3%,
      #fbbc19 10.64%,
      #f8a21c 13.88%,
      #f6921e 15.52%,
      #f68e1f 20.65%,
      #f48321 25.3%,
      #f27124 29.76%,
      #f05a28 33.69%,
      #f05628 38.27%,
      #ef4b27 42.42%,
      #ee3926 46.41%,
      #ec1f24 50.27%,
      #ec1c24 50.67%,
      #e81e27 54.36%,
      #dd2531 57.7%,
      #cb3040 60.91%,
      #b14057 64.05%,
      #8f5573 67.12%,
      #666e97 70.15%,
      #368cbf 73.09%,
      #00adee 75.97%,
      #01a9eb 80.68%,
      #059ee3 84.95%,
      #0c8cd5 89.05%,
      #1672c2 93.05%,
      #2251a9 96.93%,
      #2e3191 100%
    );
  }

  .topBorder {
    margin-bottom: 5rem;
  }
  .bottomBorder {
    margin-top: 2.4rem;
  }

  .header {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: 'Gotham Light', sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.01rem;
    .subData {
      display: block;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      line-height: 18px;
      margin-top: 1rem;
      color: white;
      @media (max-width: 1000px) {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        margin: 1rem auto;
      }
    }
    @media (max-width: 1000px) {
      font-size: 34px;
      width: 100%;
      margin-bottom: 3rem;
    }
    span {
      color: #fdce17;
    }
  }
  .propertiesSection {
    display: flex;

    margin: 0 auto;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0rem 0rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    @media (max-width: 1000px) {
      display: none;
    }
    margin-left: -1.5rem;
  }

  .mobilePropertiesSection {
    @media (min-width: 1001px) {
      display: none;
    }
    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .data {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.CollData {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-left: 1.5rem;
  @media (min-width: 745px) and (max-width: 975px) {
    margin-bottom: 3.8rem;
  }
  @media (min-width: 1000px) {
    &:last-of-type {
      width: 38%;
    }
  }
  @media (min-width: 1600px) {
    &:last-of-type {
      width: 30%;
    }
  }
  .dataContainer {
    .headerData {
      font-family: 'Gotham', sans-serif;
      font-weight: bold;
      font-size: 27px;
      color: #fdce17;
      text-align: center;
      letter-spacing: -0.01rem;
      width: 100%;
      margin-bottom: 2rem;
    }
    p {
      @media (max-width: 1000px) {
        width: 100%;
        font-size: 10px;
      }
      &:last-of-type {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        line-height: 18px;
      }
    }
  }
}

.MobileCollData {
  text-align: center;
  width: 45%;
  .headerData {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #fdce17;
    text-align: center;
    letter-spacing: -0.01rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  .descriptionData {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 18px;
  }
}
