.headerWrap {
  height: 260px;
  background-size: cover;
  margin-top: -15px;
  .logosWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0rem;
    .contentright {
      max-width: 190px;
      width: 100%;
      padding-right: 4rem;
      .rtitle {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -1px;
        text-align: left;
        color: #f8a21c;
        position: relative;
        display: inline-block;
        img {
          position: absolute;
          right: -15px;
          top: -8px;
        }
      }
      .rcontent {
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color: #cbc4c4;
        ul {
          padding-left: 1.5rem;
          list-style: circle;
          li {
            margin-bottom: 0.7rem;
          }
        }
      }
    }
  }
}
.contentWrap {
  margin: auto;
  margin-top: -35px;
  .contentwrap {
    background: linear-gradient(0deg, #363636 0%, #111111 100%);
    border-radius: 20px;
    padding: 1.5rem 2rem;
    margin-top: -2rem;
    align-items: center;
    display: flex;
    .contentleft {
      align-self: flex-start;
      .ltitle {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -1px;
        text-align: left;
        color: #f8a21c;
        position: relative;
        display: inline-block;
      }
      .lcontent {
        font-family: 'Open Sans';
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-top: 1rem;
        padding-right: 3rem;
      }
    }
  }
  .logoWrapper {
    .frazettaLogo {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .contentWrap {
    .logoheadingwrap {
      flex-direction: column;
      padding: 1.5rem 2rem 3rem;
      .logo {
        img {
          max-width: 160px;
          width: 100%;
        }
      }
      .heading {
        font-size: 24px;
      }
    }
    .contentwrap {
      flex-direction: column;
      align-items: flex-start;
      .contentleft {
        .ltitle {
          font-size: 17px;
        }
        .lcontent {
          font-size: 15px;
        }
      }
      .divider {
        display: none;
        height: 110px;
        margin: 0rem 2rem;
      }
      .contentright {
        max-width: 150px;
        width: 100%;
        margin-top: 1rem;
        .rtitle {
          font-size: 16px;
        }
        .rcontent {
          font-size: 14px;
          ul {
            li {
            }
          }
        }
      }
    }
  }
}
.dropContent {
  display: flex;
  min-width: 300px;
}
