@mixin media-desktop {
  @media (min-width: 900px) and (max-width: 1245px) {
    @content;
  }
}

@mixin xlarge-screen() {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin large-screen() {
  @media (min-width: 1600px) and (max-width: 1800px) {
    @content;
  }
}

@mixin normal-screen() {
  @media (min-width: 1200px) and (max-width: 1600px) {
    @content;
  }
}
.DropCard {
  width: 85%;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1300px;
  position: absolute;
  transform: translateY(-70%);
  .headerData {
    background: linear-gradient(180deg, #363636 0%, #111111 100%);
    opacity: 0.8;
    position: relative;
    top: 18px;
    z-index: 0;
    border-radius: 20px 20px 0 0;
    display: flex;
    padding: 2.1rem 2.5rem;
    align-items: center;
    justify-content: space-between;
    p {
      font-weight: bold;
      font-size: 37px;
      color: #cbc4c4;
      margin: 0;
    }
  }
  .detailsData {
    display: flex;
    padding: 1.8rem 2.7rem;
    background: linear-gradient(180deg, #363636 0%, #111111 100%);
    position: relative;
    z-index: 1;
    border-radius: 20px;
    p {
      color: #f8a21c;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: -1px;
      margin: 0;
      margin-bottom: 0.8rem;
    }
    .leftContainer {
      flex: 1;
      margin-bottom: 1rem;
      .description {
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        @include media-desktop() {
          font-size: 10px;
          line-height: normal;
        }
      }
    }
    .rightContainer {
      display: flex;
      align-items: flex-start;
      .border {
        height: 95%;
        width: 1px;
        margin: 0 1.4rem;
        margin-top: 0.4rem;
        background-color: #4c4e53;
      }
      .data {
        .titleContainer {
          display: flex;
          align-items: center;
          p {
            margin: 0;
          }
          img {
            margin-left: 0.4rem;
            margin-bottom: 1rem;
          }
        }
        .listContainer {
          ul {
            padding: 0;
            padding-left: 1rem;
            list-style-type: circle;
            li {
              color: #cbc4c4;
              font-weight: normal;
              margin: 0;
              margin-bottom: 0.18rem;
              margin-left: 0.4rem;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.EverscapesTitle {
  .border {
    height: 4px;
    width: 100%;
    background: linear-gradient(
      90deg,
      #ffdd15 0%,
      #ffd915 3.83%,
      #fdce17 7.3%,
      #fbbc19 10.64%,
      #f8a21c 13.88%,
      #f6921e 15.52%,
      #f68e1f 20.65%,
      #f48321 25.3%,
      #f27124 29.76%,
      #f05a28 33.69%,
      #f05628 38.27%,
      #ef4b27 42.42%,
      #ee3926 46.41%,
      #ec1f24 50.27%,
      #ec1c24 50.67%,
      #e81e27 54.36%,
      #dd2531 57.7%,
      #cb3040 60.91%,
      #b14057 64.05%,
      #8f5573 67.12%,
      #666e97 70.15%,
      #368cbf 73.09%,
      #00adee 75.97%,
      #01a9eb 80.68%,
      #059ee3 84.95%,
      #0c8cd5 89.05%,
      #1672c2 93.05%,
      #2251a9 96.93%,
      #2e3191 100%
    );
  }
}
