@mixin media-desktop {
  @media (min-width: 900px) and (max-width: 1245px) {
    @content;
  }
}

.Navbar {
  .topContainer {
    display: flex;
    justify-content: flex-end;
    padding: 1.1rem 8rem;
    background-color: #111111;
    .data {
      display: flex;
      align-items: flex-end;
      p {
        margin: 0;
        margin-right: 0.6rem;
        margin-bottom: 0.24rem;
        font-family: "Gotham Book", sans-serif;
        color: #fff;
        font-size: 11px;
      }
      img {
        height: 1.8rem;
      }
    }
  }
  .bottomContainer {
    background: linear-gradient(180deg, #363636 0%, #111111 100%);
    padding: 1.7rem 8.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .leftContainer {
      display: flex;
      align-items: center;
      .artefyImage {
        height: 2.7rem;
        @include media-desktop() {
          height: 1.7rem;
        }
      }
      .horizontal {
        width: 0.5px;
        height: 6vh;
        margin: 0 1.4rem;
        background-color: #aea3a3;
        @include media-desktop() {
          margin: 0 0.7rem;
          height: 5vh;
        }
      }
    }
    .rightContainer {
      display: flex;
    }
  }
}

.EverscapesTitle {
  img {
    height: 2.4rem;
    @include media-desktop() {
      height: 1.5rem;
    }
  }
  .border {
    height: 3px;
    width: 100%;
    background: linear-gradient(
      90deg,
      #ffdd15 0%,
      #ffd915 3.83%,
      #fdce17 7.3%,
      #fbbc19 10.64%,
      #f8a21c 13.88%,
      #f6921e 15.52%,
      #f68e1f 20.65%,
      #f48321 25.3%,
      #f27124 29.76%,
      #f05a28 33.69%,
      #f05628 38.27%,
      #ef4b27 42.42%,
      #ee3926 46.41%,
      #ec1f24 50.27%,
      #ec1c24 50.67%,
      #e81e27 54.36%,
      #dd2531 57.7%,
      #cb3040 60.91%,
      #b14057 64.05%,
      #8f5573 67.12%,
      #666e97 70.15%,
      #368cbf 73.09%,
      #00adee 75.97%,
      #01a9eb 80.68%,
      #059ee3 84.95%,
      #0c8cd5 89.05%,
      #1672c2 93.05%,
      #2251a9 96.93%,
      #2e3191 100%
    );
  }
}

.NavItem {
  display: flex;
  align-items: center;
  &:last-of-type {
    font-weight: bold;
  }
  p {
    font-size: 13px;
    transition: ease-out;
    color: #fff;
    margin: 0;
    margin-bottom: 0.1rem;
    &:hover {
      cursor: pointer;
    }
    @include media-desktop() {
      font-size: 10px;
    }
  }
  .bar {
    background-color: #4b4b4b;
    width: 1px;
    height: 3.4vh;
    margin: 0 1rem;
    @include media-desktop() {
      margin: 0 0.4rem;
    }
  }
}
