.platinumWrapper {
  position: relative;
  padding: 2rem 0rem 6rem 0rem;
  @media (max-width: 991px) {
    width: 85% !important;
  }
  .textWrap {
    background: linear-gradient(90deg, #2c2b2b 25%, #ffffff 64.21%);
    border-radius: 4rem;
    padding: 5px 6px;
    @media (max-width: 991px) {
      display: flex;
      border-radius: 2rem;
    }
    @media (max-width: 475px) {
      flex-direction: column;
      padding: 0rem 0rem 2rem;
    }
    .elmoreFirst {
      position: absolute;
      left: -20px;
      width: 120px;
      top: -10px;
      @media (max-width: 991px) {
        position: relative;
        left: 15px;
        width: auto;
        top: 0px;
      }
      @media (max-width: 475px) {
        width: 50%;
        left: 23%;
        position: relative;
      }
    }
    .textWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 991px) {
        display: block;
        flex-direction: column;
      }
      .platinumBadge {
        position: relative;
        left: 90px;
        @media (max-width: 640px) {
          position: inherit;
          padding-left: 2rem;
          width: 80%;
        }
      }
      .platinumTxt {
        font-size: 13px;
        color: #000;
        padding: 0rem 2rem 0rem 6rem;
        line-height: 16px !important;
        @media (max-width: 640px) {
          font-size: 14px;
          padding: 0rem 2rem 0rem 2rem;
        }
      }
      .badge88 {
        @media (max-width: 991px) {
          position: absolute;
          top: 0;
          left: 100px;
          @media (max-width: 475px) {
            left: 60%;
          }
        }
      }
    }
  }
}
