.container {
  position: absolute;
  top: 550px;
  left: 35%;
  z-index: 999;
  //   margin: 0 auto;
  background: linear-gradient(180deg, #363636 0%, #111111 100%);
  border-radius: 20px;
  height: 429px;
  display: flex;
  width: 860px;
  .time {
    width: 460px;
    height: 50px;
    background: #ffa800;
    border-radius: 40px;
    border: 0 solid;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    /* or 171% */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    text-align: center;
    display: flex;
    margin-bottom: 25px;
    margin-top: 10px;
  }
  .image {
    margin-top: 20px;
    margin-bottom: 27px;
    margin-left: 19px;
    img {
      align-items: center;
      justify-content: center;
    }
  }

  .drop {
    margin-top: 10px;
    // margin-bottom: 27px;
    margin-left: 30px;
    .heading {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 16px;
      /* or 89% */
      display: flex;
      //   align-items: center;
      text-align: center;
      letter-spacing: -1px;

      color: #ffa800;
    }
    .upper {
      margin-bottom: 20px;
      .name {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        /* or 188% */

        color: #fcfcfd;
      }
      .collection {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        /* or 188% */

        color: #fcfcfd;
      }
      p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        /* or 129% */

        color: #ffffff;
      }
    }
    .middle {
      .tagline {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        /* or 160% */
        // display: flex;
        // align-items: center;

        color: #ffa800;
        margin-top: 50px;
      }
      .tagline1 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        /* or 160% */
        // display: flex;
        // align-items: center;

        color: #ffa800;
        margin-top: 20px;
      }
      .price {
        display: flex;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        /* or 133% */
        display: flex;
        align-items: center;
        color: #fcfcfd;
      }
      .last {
        margin-left: 40px;
      }
      hr {
        height: 0px;
        border: 1px solid #353945;
        width: 90%;
        transform: translateX(-20px);
      }
    }
    .lower {
      position: relative;
      margin-top: 25px;
      .buy {
        width: 178px;
        background: #ffa800;
        border-radius: 20px;
        border: 0 solid;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 16px;
        text-align: center;
        letter-spacing: -1px;

        color: #000000;
      }
      .view {
        width: 234px;
        background: #000000;
        border-radius: 20px;
        padding-top: 10px;
        border: 0 solid;
        padding-bottom: 10px;
        margin-left: 40px;
        color: #ffa800;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 16px;
      }
      .coming {
        width: 460px;
        height: 46px;
        background: #ffa800;
        border-radius: 40px;
        border: 0 solid;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 29px;
        /* or 171% */
        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;
        text-align: center;
        display: flex;
        justify-content: center;
      }
      .image {
        position: relative;
        left: 35px;
        align-items: center;
        // left: 880px;
      }
    }
    .grid {
      display: flex;
      width: 1000px;
      .card {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
