.headerWrap {
  height: 190px;
  background-size: cover;
}
.contentWrap {
  max-width: 1120px;
  margin: auto;
  margin-top: -150px;
  .logoheadingwrap {
    background: #111111b8;
    padding: 1.5rem 2rem 4rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        max-width: 260px;
        width: 100%;
      }
    }
    .heading {
      font-family: 'Open Sans';
      font-size: 37px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: center;
      color: #cbc4c4;
      text-transform: capitalize;
    }
  }
  .contentwrap {
    background: linear-gradient(0deg, #363636 0%, #111111 100%);
    border-radius: 20px;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
    align-items: center;
    .contentleft {
      align-self: flex-start;
      .ltitle {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -1px;
        text-align: left;
        color: #f8a21c;
        position: relative;
        display: inline-block;
      }
      .lcontent {
        font-family: 'Open Sans';
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-top: 1rem;
      }
    }
    .divider {
      width: 2px;
      height: 110px;
      background: #353945;
      margin: 0rem 3rem;
    }
    .contentright {
      max-width: 190px;
      width: 100%;
      .rtitle {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -1px;
        text-align: left;
        color: #f8a21c;
        position: relative;
        display: inline-block;
        img {
          position: absolute;
          right: -15px;
          top: -8px;
        }
      }
      .rcontent {
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color: #cbc4c4;
        ul {
          padding-left: 1.5rem;
          list-style: circle;
          li {
            margin-bottom: 0.7rem;
          }
        }
      }
    }
  }
  .logoWrapper {
    .frazettaLogo {
      width: 100%;
    }
  }
}

.contentWrap2 {
  max-width: 1120px;
  margin: auto;
  margin-top: -150px;
  .logoheadingwrap {
    background: linear-gradient(-40deg, #c40040 32.42%, #23020d 55.91%);
    padding: 1.5rem 2rem 3rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.85;
    z-index: 1;
    position: relative;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    .logo {
      img {
        max-width: 260px;
        width: 100%;
      }
    }
    .flexWrap {
      display: flex;
      align-items: center;
      @media (max-width: 640px) {
        margin-top: 10px;
      }
      .cornerImage {
        margin-right: 10px;
        width: 100%;
      }
      .heading {
        font-family: 'Open Sans';
        font-size: 37px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: center;
        color: #fff;
        text-transform: capitalize;
      }
    }
  }

  .contentwrap {
    background: linear-gradient(0deg, #363636 0%, #111111 100%);
    border-radius: 20px;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
    align-items: center;
    position: relative;
    z-index: 2;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    .contentleft {
      align-self: flex-start;
      .ltitle {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -1px;
        text-align: left;
        color: #c40040;
        position: relative;
        display: inline-block;
      }
      .lcontent {
        font-family: 'Open Sans';
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-top: 1rem;
      }
    }
    .divider {
      width: 2px;
      height: 110px;
      background: #353945;
      margin: 0rem 3rem;
    }
    .contentright {
      max-width: 190px;
      width: 100%;
      .rtitle {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -1px;
        text-align: left;
        color: #c40040;
        position: relative;
        display: inline-block;
        img {
          position: absolute;
          right: -15px;
          top: -8px;
        }
      }
      .rcontent {
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color: #cbc4c4;
        ul {
          padding-left: 1.5rem;
          list-style: circle;
          li {
            margin-bottom: 0.7rem;
          }
        }
      }
    }
  }
  .logoWrapper {
    .frazettaLogo {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .contentWrap {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contentWrap {
    margin-left: 30px;
    margin-right: 30px;
    .logoheadingwrap {
      flex-direction: column;
      padding: 1.5rem 2rem 3rem;
      .logo {
        img {
          max-width: 160px;
          width: 100%;
        }
      }
      .heading {
        font-size: 24px;
      }
    }
    .contentwrap {
      flex-direction: column;
      align-items: flex-start;
      .contentleft {
        .ltitle {
          font-size: 17px;
        }
        .lcontent {
          font-size: 15px;
        }
      }
      .divider {
        display: none;
        height: 110px;
        margin: 0rem 2rem;
      }
      .contentright {
        max-width: 150px;
        width: 100%;
        margin-top: 1rem;
        .rtitle {
          font-size: 16px;
        }
        .rcontent {
          font-size: 14px;
          ul {
            li {
            }
          }
        }
      }
    }
  }
}
.dropContent {
  display: flex;
  min-width: 300px;
}
