.headerWrapMetalMas {
  height: 190px;
  background-size: cover;
}
.contentWrapMetalMas {
  max-width: 1120px;
  margin: auto;
  margin-top: -30px;
  position: relative;
  margin-bottom: 30px;
  .logoheadingwrap {
    background: #111111b8;
    padding: 1.5rem 2rem 4rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        max-width: 260px;
        width: 100%;
      }
    }
    .heading {
      font-family: 'Open Sans';
      font-size: 37px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: center;
      color: #cbc4c4;
      text-transform: capitalize;
    }
  }
  .contentwrap {
    background: linear-gradient(0deg, #363636 0%, #111111 100%);
    border-radius: 20px;
    padding: 1.5rem 2rem 0rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
    align-items: center;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .contentleft {
      align-self: flex-start;
      padding: 6rem 0rem 2rem 0rem;
      @media (max-width: 675px) {
        padding: 3rem 0rem 2rem 0rem;
      }
      .metalLogo {
        position: absolute;
        top: -130px;
        left: 250px;
        @media (max-width: 1150px) {
          position: absolute;
          left: 25%;
        }
        @media (max-width: 870px) {
          left: 24%;
          width: 50%;
          top: -95px;
        }
        @media (max-width: 400px) {
          left: 12%;
          width: 75%;
          top: -75px;
        }
      }
      .ltitle {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -1px;
        text-align: left;
        color: #f8a21c;
        position: relative;
        display: inline-block;
      }
      .lcontent {
        font-family: 'Open Sans';
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-top: 1rem;
      }
    }
    // .divider {
    //   width: 2px;
    //   height: 110px;
    //   background: #353945;
    //   margin: 0rem 3rem;
    // }
    .contentright {
      max-width: 190px;
      position: absolute;
      top: -120px;
      @media (max-width: 991px) {
        position: relative;
        max-width: 100%;
        margin: auto;
        top: 0;
      }
      .rtitle {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -1px;
        text-align: left;
        color: #fff;
        position: relative;
        display: inline-block;
        img {
          position: absolute;
          right: -15px;
          top: -8px;
        }
      }
      .rcontent {
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color: #cbc4c4;
        ul {
          padding-left: 1.5rem;
          list-style: circle;
          li {
            margin-bottom: 0.7rem;
          }
        }
      }
    }
  }
  .contentWrap2 {
    background: linear-gradient(0deg, #363636 0%, #111111 100%);
    border-radius: 20px;
    padding: 1.5rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    @media (max-width: 990px) {
      flex-direction: column;
    }
    .contentleft {
      flex: 0 0 50%;
      @media (max-width: 1150px) {
        padding-bottom: 3rem;
      }
      .headingWrap {
        font-size: 34px;
        line-height: 16px;
        font-weight: 700;
        color: #ed1c24;
        padding: 1rem 0rem;
        @media (max-width: 475px) {
          line-height: 38px;
        }
      }
      .contentMain {
        padding: 1rem 0rem 2rem 0rem;
        .contentHead {
          font-size: 22px;
          line-height: 22px;
          font-weight: 700;
          color: #fff;
        }
        .contentPara {
          font-size: 13px;
          line-height: 16px;
          font-weight: 400;
          color: #fff;
        }
      }
    }
    .contentright {
      background-color: #ed1c24;
      color: #fff;
      padding: 1.5rem 1rem;
      border-radius: 20px;
      text-align: right;
      position: relative;
      margin-left: 1.5rem;
      @media (max-width: 1150px) {
        margin: 0;
      }
      @media (max-width: 675px) {
        width: 50%;
        margin: auto;
      }
      @media (max-width: 475px) {
        text-align: center;
        width: 90%;
      }
      .cherryImg {
        position: absolute;
        left: -60px;
        top: -15px;
        @media (max-width: 475px) {
          position: initial;
        }
      }
      .collectNftBox {
        .cherryBox {
          font-size: 36px;
          line-height: 38px;
          font-weight: 700;
        }
        .cherryBoxDesc {
          font-size: 16px;
          line-height: 18px;
          padding: 1rem 0rem;
        }
      }
      .tarnaaImg {
        position: absolute;
        top: -124px;
        right: -312px;
        z-index: 1;
        @media (max-width: 1150px) {
          position: absolute;
          top: -45px;
          right: -213px;
          z-index: 1;
          width: 100%;
        }
        @media (max-width: 675px) {
          position: initial;
        }
      }
      .tarnaText {
        position: absolute;
        right: -278px;
        top: -65%;
        font-size: 30px;
        font-weight: 700;
        background: red;
        padding: 0.2rem 2rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        @media (max-width: 1150px) {
          position: absolute;
          right: -190px;
          top: -30%;
          font-size: 18px;
        }
        @media (max-width: 675px) {
          position: initial;
          text-align: center;
          border-radius: 1rem;
        }
      }
    }
  }
  .logoWrapper {
    .frazettaLogo {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .contentWrap {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contentWrap {
    margin-left: 30px;
    margin-right: 30px;
    .logoheadingwrap {
      flex-direction: column;
      padding: 1.5rem 2rem 3rem;
      .logo {
        img {
          max-width: 160px;
          width: 100%;
        }
      }
      .heading {
        font-size: 24px;
      }
    }
    .contentwrap {
      flex-direction: column;
      align-items: flex-start;
      .contentleft {
        .ltitle {
          font-size: 17px;
        }
        .lcontent {
          font-size: 15px;
        }
      }
      .divider {
        display: none;
        height: 110px;
        margin: 0rem 2rem;
      }
      .contentright {
        max-width: 150px;
        width: 100%;
        margin-top: 1rem;
        .rtitle {
          font-size: 16px;
        }
        .rcontent {
          font-size: 14px;
          ul {
            li {
            }
          }
        }
      }
    }
  }
}
.dropContent {
  display: flex;
  min-width: 300px;
  justify-content: end;
  position: relative;
}

.endText {
  font-size: 34px;
  line-height: 39px;
  font-weight: 700;
  color: #fff;
  padding-top: 2rem;
  @media (max-width: 765px) {
    padding-top: 4rem;
    padding-left: 2rem;
    text-align: center;
  }
}
