.border {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ffdd15 0%,
    #ffd915 3.83%,
    #fdce17 7.3%,
    #fbbc19 10.64%,
    #f8a21c 13.88%,
    #f6921e 15.52%,
    #f68e1f 20.65%,
    #f48321 25.3%,
    #f27124 29.76%,
    #f05a28 33.69%,
    #f05628 38.27%,
    #ef4b27 42.42%,
    #ee3926 46.41%,
    #ec1f24 50.27%,
    #ec1c24 50.67%,
    #e81e27 54.36%,
    #dd2531 57.7%,
    #cb3040 60.91%,
    #b14057 64.05%,
    #8f5573 67.12%,
    #666e97 70.15%,
    #368cbf 73.09%,
    #00adee 75.97%,
    #01a9eb 80.68%,
    #059ee3 84.95%,
    #0c8cd5 89.05%,
    #1672c2 93.05%,
    #2251a9 96.93%,
    #2e3191 100%
  );
}

.outerwrap {
  background: linear-gradient(180deg, #363636 0%, #111111 100%);
  .purchaseContainer {
    border-radius: 10px;
    padding: 40px;
    background-color: #b01a22;
    position: absolute;
    right: 0px;
    width: 10%;
    top: 30%;
    @media (max-width: 1250px) {
      display: none;
    }
  }
  .wrap {
    max-width: 1120px;
    margin: auto;
    padding: 3rem 0rem;
    .imgandcntnt {
      display: flex;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        max-width: 550px;
        margin: auto;
      }
      .img {
        max-width: 476px;
        width: 100%;
        .mainimg {
          position: relative;
          img {
            width: 100%;
          }
          .nftthreed {
            position: absolute;
            bottom: -140px;
            left: -100px;
            @media screen and (max-width: 1300px) {
              bottom: -50px;
              left: -50px;
            }
            @media screen and (max-width: 767px) {
              left: -35px;
            }
            img {
              max-width: 215px;
              width: 100%;
            }
            .nftbadge {
              cursor: pointer;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 0;
              bottom: 30px;
              background-color: #ed1c24;
              width: 70px;
              height: 70px;
              border-radius: 50%;
              color: white;
              font-family: 'Open Sans';
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: 14px;
              letter-spacing: 0px;
              text-align: center;
              span {
                font-size: 12px;
              }
            }
            .viewNFTBadge {
              cursor: pointer;
              position: absolute;
              right: -65px;
              bottom: -25px;
              width: 200px;
              height: 200px;
            }
          }
        }
        .bottom {
          display: flex;
          justify-content: flex-end;
          color: white;
          margin-top: 3.5rem;
          .col {
            font-size: 16px;
            font-family: 'Open Sans';
            font-weight: 600;
            span {
              font-weight: 300;
              color: #a69a9a;
            }
          }
          .badgewrap {
            margin-left: 0.5rem;
            color: #fcfcfd;
            font-size: 15px;
            font-family: 'Open Sans';
            font-weight: 400;
            text-transform: uppercase;
            img {
              max-width: 15px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}
.cntnt {
  position: relative;
  margin-left: 4rem;
  width: 100%;
  @media screen and (max-width: 767px) {
    margin-left: 0px !important;
    margin-top: 2rem;
  }
  @media screen and (max-width: 1200px) {
    margin-left: 2rem;
  }
  .purchaseContainer2 {
    padding: 20px;
    background-color: #b01a22;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 2rem 0px 0rem 0px;
    display: none;
    @media (max-width: 1250px) {
      display: flex;
    }
    @media (max-width: 910px) {
      flex-direction: column;
      // align-items: center;
      justify-content: center;
    }
    @media (max-width: 767px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
    .typoWrap {
      font-size: 1.5rem !important;
      @media (max-width: 910px) {
        font-size: 1.3rem !important;
        padding-bottom: 1rem;
      }
    }
  }
  .lgo {
    max-width: 180px;
    position: absolute;
    right: -2rem;
    @media screen and (max-width: 1200px) {
      max-width: 100px;
      right: -1rem;
    }
    @media screen and (max-width: 767px) {
      max-width: 100px;
      right: -1rem;
    }
    @media screen and (max-width: 400px) {
      max-width: 60px;
      top: 1rem;
    }
  }
  .timewrap {
    .iconwrap {
      color: white;
      display: flex;
      font-size: 14px;
      font-weight: 400;
      div {
        margin-right: 1rem;
        img {
          max-height: 14px;
          margin-right: 2px;
        }
      }
    }
    .timer {
      display: flex;
      margin: 0.5rem 0rem;
      align-items: center;
      .title {
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #3fb5f5;
        max-width: 60px;
      }
      .title1 {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #61bb07;
      }
      .title2 {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #ef0000;
      }
      .slash {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #fdfdfd;
        padding-left: 1%;
        padding-right: 1%;
      }
      .title3 {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #f3a21c;
      }
      .timee2 {
        display: flex;
        font-size: 19px;
        font-weight: 700;
        color: #ffffff;
        font-family: 'Open Sans';
        margin-left: 0.5rem;
        .timee {
          display: flex;
          flex-direction: column;
          span {
            display: block;
            margin-top: 0rem;
            font-size: 8px;
            font-weight: 700;
            color: #ffffff;
            font-family: 'Open Sans';
          }
        }
        .sep {
          margin: 0rem 0.3rem;
        }
      }
    }
    .textwrap {
      font-family: 'Open Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0px;
      text-align: left;
      color: white;
      display: inline-block;
      position: relative;
      span {
        color: #a69a9a;
      }
      img {
        position: absolute;
        top: -8px;
        right: -10px;
      }
    }
  }
  .titlewrap {
    color: white;
    margin: 4rem 0rem;
    @media screen and (max-width: 767px) {
      margin: 2rem 0rem;
    }
    .title1 {
      font-family: 'Open Sans';
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0px;
      text-align: left;
      @media screen and (max-width: 1200px) {
        font-size: 30px;
        line-height: 35px;
      }
    }
    .title2 {
      font-family: 'Open Sans';
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: 0px;
      text-align: left;
      @media screen and (max-width: 1200px) {
        font-size: 35px;
        line-height: 42px;
      }
    }
    .title3 {
      font-family: 'Open Sans';
      font-size: 25px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 0.5rem;
      @media screen and (max-width: 1200px) {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
  .btnpricewrap {
    .edition {
      font-family: 'Open Sans';
      font-size: 19px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: left;
      color: #f6921e;
    }
    .price {
      font-family: 'Open Sans';
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0px;
      text-align: left;
      color: white;
      margin: 1rem 0rem 1.5rem;
    }
    .button {
      button {
        text-transform: uppercase;
        max-width: 160px;
        width: 100%;
        height: 42px;
        border-radius: 20px;
        background-color: #3fb5f5;
        cursor: pointer;
        border: 0px;
        color: white;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .tabswrap {
    margin-top: 4rem;
    .headwrap {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #a69a9a;
      padding-bottom: 6px;
      .head {
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans';
        color: #a69a9a;
      }
      .head.active {
        color: #ffff;
        font-weight: 700;
      }
      .divider {
        width: 1px;
        height: 16px;
        background-color: #a69a9a;
        margin: 0rem 1rem;
      }
    }
    .bodywrap {
      font-family: 'Open Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffff;
      margin-top: 1rem;
      max-height: 100px;
      overflow-y: scroll;
      /* width */
      &::-webkit-scrollbar {
        width: 3px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 20px;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .outerwrap {
    .wrap {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}
@media screen and (max-width: 767px) {
  .outerwrap {
    .wrap {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
.soldImg {
  position: absolute;
  width: 460px !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  @media (max-width: 1024px) and (min-width: 768px) {
    width: 320px !important;
  }
  @media screen and (max-width: 575px) {
    width: 280px !important;
    left: 0;
    transform: unset;
    top: 0;
  }
}
.btnpricewrap {
  position: relative;
  .badgePic {
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 1100px) and (min-width: 768px) {
      top: -70px;
    }
    @media screen and (max-width: 575px) {
      position: relative;
      top: 20px;
    }
    img {
      @media (max-width: 1100px) and (min-width: 768px) {
        width: 110px;
      }
      @media screen and (max-width: 575px) {
        width: 110px;
      }
    }
  }
}
