.nftWinnerInfoWrapper {
	margin-bottom: 20px;
	padding-right: 10px;
	@media (max-width: 600px) {
        flex-direction: column;
      }
    .winnerNftImg {
	max-height: 270px;
	max-width: 194px;
       object-fit: contain;
    }
	.winnerNftName{
		color: #ffffff;
		font-size: 23px;
		font-family: Trajan Pro;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 10px;
		word-break: break-word !important;
		white-space: pre-line;
		text-transform: uppercase;
	}
	.walletName{
		color: #ffffff;
		font-size: 17px;
		font-family: 'Trajan Pro';
		font-weight: 400;
	}
	.walletAddress{
		max-height: 300px;
		overflow-y: auto;
		overflow-x:clip;
		&::-webkit-scrollbar {
			width: 2px;
		}
		
		&::-webkit-scrollbar-track {
			background:   #575656;
			border-radius: 10px;
		}
		
		&::-webkit-scrollbar-thumb {
			border-radius: 20px;
			width: 5px;
			background:  #418004;
		}
		.walletAddressList{
			list-style: none;
			padding: 0;
			li{
				color: #ffffff;
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
}
.nftTopItems{
	align-items: center;
	.winnerNftName{
		margin-bottom: 20px;
	}
}
