@import 'src/Styles.scss';
// 1035px
*:focus {
  outline: none;
}
.container {
  background: linear-gradient(180deg, #363636 0%, #111111 100%);
  padding-bottom: 90px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }

    .contact {
      max-width: 481px;
      max-height: 680px;
      margin-right: 3rem;
      @media screen and (max-width: 1200px) {
        margin-right: 0px;
        margin: auto;
        margin-top: 40px;
        width: 100%;
      }
      flex-shrink: 2;
      border-radius: 30px;
      margin-top: 39px;
      background: linear-gradient(0, #363636 0%, #111111 100%);
      .contact_container {
        padding: 4rem 2rem;
        @media screen and (max-width: 1200px) {
          padding: 3rem 2rem;
        }
        @media screen and (max-width: 767px) {
          padding: 2rem;
        }

        p {
          font-family: 'Gotham Book';
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -0.01em;
          margin: 0;
          color: #fcfcfd;
          @media screen and (max-width: 1036px) {
            font-family: 'Gotham Light';
          }
        }
        span {
          font-family: 'Gotham Book';
          color: #3fb5f5;
        }
        .icons {
          display: flex;
          justify-content: space-between;
          margin: 25px 0 35px;
          @media screen and (max-width: 1200px) {
            margin: 20px 0px;
          }
          @media screen and (max-width: 767px) {
            margin: 10px 0px;
          }

          img {
            width: 60px;
            @media screen and (max-width: 767px) {
              width: 45px;
            }
          }
          :global {
            .MuiIconButton-root {
              padding: 0px;
            }
            .MuiSvgIcon-root {
              width: 70px;
              @media screen and (max-width: 767px) {
                width: 50px;
              }
            }
          }
        }

        .info {
          @media screen and (max-width: 1200px) {
            display: none;
          }
          h4 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            margin-bottom: 3rem;
            letter-spacing: -0.01em;
            color: #f8a21c;
          }
          p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 2rem;
            letter-spacing: unset;
            color: #ffffff;
          }
        }
      }
    }
    form {
      @media screen and (max-width: 1200px) {
        width: 100%;
      }
    }
    .form {
      flex-wrap: wrap;
      justify-self: center;
      margin-top: 40px;
      width: 555px;
      @media screen and (max-width: 1200px) {
        margin: auto;
        margin-top: 40px;
        width: 100%;
        max-width: 500px;
      }

      h1 {
        font-family: 'Gotham Book';
        color: white;
        &.formHeader {
          margin-top: 30px;
          font-weight: normal;
        }
      }
      span {
        font-family: 'Gotham Book';
        color: #3fb5f5;
      }
      .requiredField {
        font-family: Open Sans;
      }
      .input {
        margin-top: 20px;
        h1 {
          font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 12px;
          text-transform: uppercase;
          margin-bottom: 12px;
          color: #3fb5f5;
        }
        textarea {
          resize: none;
          background: transparent;
          border: 2px solid #e6e8ec;
          width: 100%;
          height: 40px;
          box-sizing: border-box;
          border-radius: 20px;
          color: white;
          margin-bottom: 20px;
          padding-left: 15px;
          padding-top: 8px;
          word-wrap: break-word;
          overflow: hidden;
        }

        input {
          resize: none;
          background: transparent;
          border: 2px solid #e6e8ec;
          width: 100%;
          height: 40px;
          box-sizing: border-box;
          border-radius: 20px;
          color: white;
          margin-bottom: 20px;
          padding-left: 15px;
          padding-top: 8px;
          word-wrap: break-word;
          overflow: hidden;
        }

        .message {
          height: 330px;
          padding-top: 10px;
          padding-bottom: 290px;
        }
        textarea textarea:focus {
          outline: none !important;
        }
      }
      button {
        color: black;
        background: #3fb5f5;
        border-radius: 40px;
        border: 0px;
        padding: 15px 150px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #000000;
        margin-bottom: 20px;
        margin-top: 20px;
        @media screen and (max-width: 767px) {
          padding: 15px 100px;
        }
      }
    }
  }
}
