.partnersWrapper {
  padding-top: 50px;
  .blockTitle {
    font-size: 30px;
    color: #fac968;
    font-family: 'Trajan Pro';
    text-align: center;
  }
  .componyItemsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    .bannerCircleLogo {
      height: 154px;
      object-fit: contain;
      max-width: 100%;
    }
    .artifyLogo {
      height: 84px;
      object-fit: contain;
      max-width: 100%;
    }
    .frame1 {
      height: 100px;
      object-fit: contain;
      max-width: 100%;
    }
    .heavyMetalHeader {
      height: 100px;
      object-fit: contain;
      max-width: 100%;
    }
  }
}
