// @import url('https://themes.googleusercontent.com/fonts/css?kit=wpteHD_a_N7XAYXTkMGni4u97B46-L_k0qQL9BMtWlf-SYK_Ln3uQOimoUBe-l5o');
.privacy {
  .hdng {
    font-size: 30px !important;
    font-weight: 700;
  }
  ol.lst-kix_list_1-3 {
    list-style-type: none;
  }
  ol.lst-kix_list_1-4 {
    list-style-type: none;
  }
  ol.lst-kix_list_1-5 {
    list-style-type: none;
  }
  ol.lst-kix_list_1-6 {
    list-style-type: none;
  }
  ol.lst-kix_list_1-0 {
    list-style-type: none;
  }
  .lst-kix_list_1-4 > li {
    counter-increment: lst-ctn-kix_list_1-4;
  }
  ol.lst-kix_list_1-1 {
    list-style-type: none;
  }
  ol.lst-kix_list_1-2 {
    list-style-type: none;
  }
  ol.lst-kix_list_1-6.start {
    counter-reset: lst-ctn-kix_list_1-6 0;
  }
  .lst-kix_list_1-1 > li {
    counter-increment: lst-ctn-kix_list_1-1;
  }
  ol.lst-kix_list_1-3.start {
    counter-reset: lst-ctn-kix_list_1-3 0;
  }
  ol.lst-kix_list_1-2.start {
    counter-reset: lst-ctn-kix_list_1-2 0;
  }
  ol.lst-kix_list_1-8.start {
    counter-reset: lst-ctn-kix_list_1-8 0;
  }
  .lst-kix_list_1-0 > li:before {
    content: '' counter(lst-ctn-kix_list_1-0, decimal) '. ';
  }
  ol.lst-kix_list_1-5.start {
    counter-reset: lst-ctn-kix_list_1-5 0;
  }
  ol.lst-kix_list_1-7 {
    list-style-type: none;
  }
  .lst-kix_list_1-1 > li:before {
    content: '' counter(lst-ctn-kix_list_1-0, decimal) '.'
      counter(lst-ctn-kix_list_1-1, decimal) ' ';
  }
  .lst-kix_list_1-2 > li:before {
    content: '(' counter(lst-ctn-kix_list_1-2, lower-latin) ') ';
  }
  .lst-kix_list_1-7 > li {
    counter-increment: lst-ctn-kix_list_1-7;
  }
  ol.lst-kix_list_1-8 {
    list-style-type: none;
  }
  .lst-kix_list_1-3 > li:before {
    content: '(' counter(lst-ctn-kix_list_1-3, decimal) ') ';
  }
  .lst-kix_list_1-4 > li:before {
    content: '(' counter(lst-ctn-kix_list_1-4, upper-latin) ') ';
  }
  ol.lst-kix_list_1-0.start {
    counter-reset: lst-ctn-kix_list_1-0 0;
  }
  .lst-kix_list_1-0 > li {
    counter-increment: lst-ctn-kix_list_1-0;
  }
  li.li-bullet-1:before {
    margin-left: -35.5pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 35.5pt;
  }
  .lst-kix_list_1-6 > li {
    counter-increment: lst-ctn-kix_list_1-6;
  }
  .lst-kix_list_1-7 > li:before {
    content: '' counter(lst-ctn-kix_list_1-7, lower-roman) '. ';
  }
  .lst-kix_list_1-3 > li {
    counter-increment: lst-ctn-kix_list_1-3;
  }
  .lst-kix_list_1-5 > li:before {
    content: '(' counter(lst-ctn-kix_list_1-5, lower-roman) ') ';
  }
  .lst-kix_list_1-6 > li:before {
    content: '' counter(lst-ctn-kix_list_1-6, lower-latin) '. ';
  }
  li.c4.li-bullet-0:before {
    font-size: 16px;
    font-weight: 700;
  }
  li.li-bullet-0:before {
    margin-left: -35.4pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 35.4pt;
  }
  ol.lst-kix_list_1-7.start {
    counter-reset: lst-ctn-kix_list_1-7 0;
  }
  .lst-kix_list_1-2 > li {
    counter-increment: lst-ctn-kix_list_1-2;
  }
  .lst-kix_list_1-5 > li {
    counter-increment: lst-ctn-kix_list_1-5;
  }
  .lst-kix_list_1-8 > li {
    counter-increment: lst-ctn-kix_list_1-8;
  }
  ol.lst-kix_list_1-4.start {
    counter-reset: lst-ctn-kix_list_1-4 0;
  }
  .lst-kix_list_1-8 > li:before {
    content: '' counter(lst-ctn-kix_list_1-8, upper-latin) '. ';
  }
  ol.lst-kix_list_1-1.start {
    counter-reset: lst-ctn-kix_list_1-1 0;
  }
  ol {
    margin: 0;
    padding: 0;
  }
  table td,
  table th {
    padding: 0;
  }
  .c5 {
    -webkit-text-decoration-skip: none;
    color: #0000ff;
    font-weight: 400;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 9pt;
    font-family: 'Open Sans';
    font-style: normal;
  }
  .c1 {
    color: white;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: 'Open Sans';
    font-style: normal;
  }
  .c2 {
    margin-left: 53.4pt;
    padding-top: 5pt;
    padding-left: 17.4pt;
    padding-bottom: 12pt;
    line-height: 1.3;
    text-align: left;
  }
  .c12 {
    margin-left: 18pt;
    padding-top: 5pt;
    padding-left: 17.4pt;
    padding-bottom: 12pt;
    line-height: 1.3;
    text-align: left;
  }
  .c0 {
    margin-left: 18pt;
    padding-top: 5pt;
    padding-left: 17.4pt;
    padding-bottom: 12pt;
    line-height: 1;
    text-align: left;
  }
  .c14 {
    margin-left: 85pt;
    padding-top: 5pt;
    text-indent: -49.6pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
  }
  .c3 {
    margin-left: 53.4pt;
    padding-top: 5pt;
    padding-left: 17.4pt;
    padding-bottom: 12pt;
    line-height: 1;
    text-align: left;
  }
  .c4 {
    margin-left: 18pt;
    padding-top: 30pt;
    padding-left: 17.4pt;
    padding-bottom: 12pt;
    line-height: 1;
    text-align: left;
  }
  .c25 {
    margin-left: 53.4pt;
    padding-top: 5pt;
    padding-left: 17.4pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
  }
  .c23 {
    margin-left: 53.4pt;
    padding-top: 0pt;
    padding-left: 17.4pt;
    padding-bottom: 12pt;
    line-height: 1;
    text-align: left;
  }
  .c21 {
    color: white;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-style: normal;
  }
  .c16 {
    margin-left: 85pt;
    padding-top: 5pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
  }
  .c9 {
    color: white;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: normal;
  }
  .c17 {
    -webkit-text-decoration-skip: none;
    color: #0000ff;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  .c22 {
    padding-top: 30pt;
    padding-bottom: 12pt;
    line-height: 1;
    text-align: left;
  }
  .c15 {
    padding-top: 5pt;
    padding-bottom: 12pt;
    line-height: 1;
    text-align: left;
  }
  .c24 {
  }
  .c20 {
    margin-left: 18pt;
    padding-left: 17.5pt;
    page-break-after: avoid;
  }
  .c8 {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
  }
  .c11 {
    font-weight: 400;
    font-family: 'Open Sans';
  }
  .c19 {
    margin-left: 85pt;
    text-indent: -49.6pt;
  }
  .c10 {
    padding: 0;
    margin: 0;
  }
  .c6 {
    orphans: 2;
    widows: 2;
  }
  .c7 {
    font-weight: 700;
    font-family: 'Open Sans';
  }
  .c18 {
    color: inherit;
    text-decoration: inherit;
  }
  .c13 {
    // background-color: #ffff00;
  }
  .title {
    padding-top: 5pt;
    color: white;
    font-weight: 700;
    font-size: 34pt;
    padding-bottom: 9pt;
    font-family: 'Open Sans';
    line-height: 1.3;
    text-align: left;
  }
  .subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 9pt;
    padding-bottom: 16pt;
    font-family: 'Open Sans';
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    text-align: left;
  }
  li {
    color: white;
    font-size: 9pt;
    font-family: 'Open Sans';
  }
  p {
    margin: 0;
    color: white;
    font-size: 9pt;
    font-family: 'Open Sans';
  }
  h1 {
    padding-top: 30pt;
    color: white;
    font-weight: 700;
    font-size: 16pt;
    padding-bottom: 12pt;
    font-family: 'Open Sans';
    line-height: 1.2;
    text-align: left;
  }
  h2 {
    background-color: #ffffff;
    padding-top: 9pt;
    color: #4f81bd;
    font-weight: 700;
    font-size: 13pt;
    padding-bottom: 0pt;
    font-family: 'Oi';
    line-height: 1.3;
    text-align: left;
  }
  h3 {
    padding-top: 14pt;
    color: white;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: 'Open Sans';
    line-height: 1.3;
    page-break-after: avoid;
    text-align: left;
  }
  h4 {
    padding-top: 12pt;
    color: white;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: 'Open Sans';
    line-height: 1.3;
    page-break-after: avoid;
    text-align: left;
  }
  h5 {
    padding-top: 11pt;
    color: white;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: 'Open Sans';
    line-height: 1.3;
    page-break-after: avoid;
    text-align: left;
  }
  h6 {
    padding-top: 9pt;
    color: white;
    font-weight: 700;
    font-size: 9pt;
    padding-bottom: 2pt;
    font-family: 'Open Sans';
    line-height: 1.3;
    page-break-after: avoid;
    text-align: left;
  }
}
