@mixin left-overlay-text {
  margin: 0;
  color: white;
  font-weight: bold;
  font-family: 'Open Sans';
}

@mixin common-style-treasure {
  top: 1.4rem;
  left: 0.94rem;
  display: flex;
  align-items: center;
  position: absolute;
  background: rgb(58, 62, 72);
  border-radius: 20px;
  padding: 0.4rem;
  padding-bottom: 0.28rem;
  padding-right: 1.3rem;
  width: auto;

  p {
    margin: 0;
    margin-bottom: 0.18rem;
    color: #fff;
    letter-spacing: 0.02rem;
    font-size: 8px;
    margin-left: 2.1rem;
    text-transform: uppercase;
    font-family: 'Open Sans';
  }
}
@mixin common-style-treasure2 {
  top: 1.4rem;
  left: 0.94rem;
  display: flex;
  align-items: center;
  position: absolute;
  background: rgb(58, 62, 72);
  border-radius: 20px;
  padding: 0.4rem;
  padding-bottom: 0.28rem;
  padding-right: 1.3rem;
  width: auto;

  p {
    margin: 0;
    margin-bottom: 0.18rem;
    color: #fff;
    letter-spacing: 0.02rem;
    font-size: 8px;
    margin-left: 2.1rem;
    text-transform: uppercase;
    font-family: 'Open Sans';
  }
}

.ownedText {
  position: absolute;
  top: 7%;
  right: 4%;
  // color: #33eb91;
  // background: rgba(58, 62, 72, 0.7);

  color: #000;
  background: #61ff00;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  width: auto;
  font-weight: 700;
  font-size: 11px;
  max-width: 74px;
  text-align: center;
}

.listedText {
  position: absolute;
  top: 7%;
  right: 4%;
  color: #000;
  background: #f68d20;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  width: auto;
  font-weight: 700;
  font-size: 11px;
  max-width: 74px;
  text-align: center;
}

.paintingListWrap {
  margin-block: 3rem;
}
.flexCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.CardItem {
  max-width: 256px;
  @media (max-width: 768px) {
    margin-bottom: 1rem;
    margin-inline: auto;
  }
  &.activeGreen {
    .player,
    .img {
      border: 2px solid #61ff00 !important;
    }
  }
  &.activeOrange {
    .player,
    .img {
      border: 2px solid #f68d20 !important;
    }
  }
  .img {
    height: 360px;
    width: 252px;
    border-radius: 17px;
    object-fit: cover;
  }
  .player {
    width: 252px;
    height: 360px;
    border-radius: 14px;
    position: relative;
    .videoWrap {
      width: 252px !important;
      height: 360px !important;
    }
    video {
      border-radius: 14px;
      object-fit: cover;
    }
    .bufferingLoader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #ffffff8a;
      border-radius: 50%;
      padding: 1rem;
    }
  }
  .player,
  .img {
    border: 2px solid transparent;
  }
  .rarityContainer {
    background: rgb(58, 62, 72);
    padding: 6px 7px;
    border-radius: 20px;
    position: absolute;
    left: -0.17rem;
    top: -0.12rem;
    display: flex;
    img {
      height: 1rem;
    }
  }
}
.mainImgWrap {
  position: relative;
  width: 252px;
  height: 360px;
  &:hover {
    .treasureImg {
      display: none;
    }
    .overlayContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 2px;
      left: 2px;
      background: #010103;
      padding: 0.3rem 0;
      height: calc(360px - 0.6rem);
      width: 252px;
      border-radius: 12px;
      z-index: 99;
      .overlayTopContainer {
        padding: 0 0.8rem;
        width: 100%;
        .assetStatusMsg {
          font-size: 10px;
          font-weight: bold;
          color: white;
          font-family: 'Open Sans';
          text-align: center;
          margin-bottom: 0.3rem;
          // visibility: hidden;
          &.green {
            color: #61ff00;
          }
          &.orange {
            color: #f68d20;
          }
        }
        .nameContainer {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          p {
            @include left-overlay-text();
            font-size: 0.7rem;
            width: calc(50% - 0.5rem);
            &:first-child {
              text-align: end;
            }
          }
          .divider {
            width: 1px;
            height: 3.2rem;
            background-color: #d9d9db;
            margin: 0 1rem;
          }
          .description {
            width: calc(50% - 0.5rem);
            p {
              text-align: left;
              color: #fff;
              font-weight: 700;
              font-size: 0.7rem;
              font-family: 'Open Sans';
              width: 100%;
              word-break: break-word;
              &:first-child {
                margin-bottom: 0.2rem;
              }
            }
          }
        }
        .newBadgeContainerWrap {
          display: flex;
          align-items: center;
          margin-bottom: 0.3rem;
          .divider {
            width: 1px;
            height: 2rem;
            margin: 0 1rem;
            background-color: #d9d9db;
          }
          p {
            margin: 0.4rem 0rem;
            color: #f48321;
            font-size: 14px;
            font-size: 0.65rem;
            font-family: 'Open Sans';
            &:last-of-type {
              color: #fff;
              width: calc(50% - 0.5rem);
            }
          }
          .editions {
            font-weight: 600;
          }
          .newBadgeContainer {
            display: flex;
            align-items: center;
            justify-content: end;
            font-size: 10px;
            width: calc(50% - 0.5rem);
            .rarityText {
              width: auto;
              text-transform: uppercase;
              font-family: 'Open Sans';
              font-size: 9px;
            }
            .badges {
              padding: 6px 6px 6px 0;
              img {
                height: 0.8rem;
                width: 0.8rem;
              }
            }
          }
        }
        .minstWrap {
          margin-top: 0.2rem;
          p,
          .mintIds {
            text-align: center;
            font-size: 0.55rem;
            line-height: 16px;
            color: white;
            font-family: 'Open Sans';
          }
          p {
            font-size: 0.6rem;
            font-weight: bold;
            font-family: 'Open Sans';
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            .dotGreen,
            .dotOrange {
              margin-right: 0.3rem;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: #61ff00;
            }
            .dotOrange {
              background: #f68d20;
            }
          }
          .listedMintsWrapper {
            color: #f68d20;
            font-size: 16px;
          }
        }
        .artistContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            @include left-overlay-text();
            font-size: 0.65rem;
            text-align: right;
            font-weight: 400;
            width: calc(50% - 0.5rem);
            &:last-of-type {
              color: #fff;
              word-break: break-all;
              font-weight: 600;
              text-align: left;
              margin: 0;
            }
          }
          .divider {
            width: 1px;
            height: 1.5rem;
            background-color: #d9d9db;
            margin: 0 1rem;
          }
        }
      }
    }
    .width_256 {
      height: calc(360px - 0.6rem);
      width: 256px;
    }
  }
}
.treasureImg {
  @include common-style-treasure();
}
.displayAllTreasure {
  @include common-style-treasure2();
}
.ownedWrap {
  position: absolute;
  top: 0.9rem;
  right: 0.94rem;
  background: #33eb91;
  border-radius: 5px;
  padding: 0.3rem 0.4rem;
  width: auto;
  font-weight: 600;
  font-size: 11px;
  max-width: 74px;
  text-align: center;
  font-family: 'Open Sans';
}

.overlayContainer {
  display: none;
}

.dataContainer {
  font-size: 14px;
  .dataWrap {
    height: 80px;
    .data {
      display: flex;
      justify-content: space-between;
      margin-top: 0.8rem;
      // height: 40px;

      .artistNames {
        font-family: 'Open Sans';
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 0 0 70%;
      }
      p {
        margin: 0;
        color: #fff;
        font-family: 'Open Sans';
      }
      .availableStyle {
        color: #f6921e;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Open Sans';
      }
      .availableMints {
        color: #fff;
        min-width: 80px;
        text-align: end;
        font-family: 'Open Sans';
      }
    }
    .artist {
      margin: 0.3rem 0;
      color: #fff;
      font-weight: 700;
      font-family: 'Open Sans';
      font-size: 16px;
      margin-bottom: 0;
      margin-left: 10;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0rem 3rem 0rem 0rem;
      // height: 40px;
    }
  }

  .priceSection {
    display: flex;
    justify-content: space-between;
    // width: 110%;
    align-items: flex-end;
    margin-top: 0.13rem;
    .tooltip {
      text-align: justify;
      width: auto;
    }
    .leftText {
      color: #fff;
      margin: 0;
      margin-bottom: 0.14rem;
      font-family: 'Open Sans';
    }
    .rightContainer {
      text-align: right;
      font-family: 'Open Sans';
      color: #3fb5f5;
      p {
        margin: 0;
        font-size: 11px;
        font-weight: 600;
        margin-bottom: -0.4rem;
        font-family: 'Open Sans';
        &:last-of-type {
          font-size: 17px;
          font-weight: 700;
          margin: 0.2rem 0 0 0;
        }
      }
    }
  }
  hr {
    height: 1px;
    border: none;
    background-color: #353945;
    margin: 0.4rem 0;
    margin-bottom: 0;
  }
  .favouritesSection {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0rem 0;
    .leftSection {
      display: flex;
      align-items: flex-end;
      font-family: Open Sans;
      p {
        font-family: 'Open Sans';
        margin: 0;
        margin-top: 0.37rem;
        margin-right: 0.17rem;
        font-size: 12px;
        color: #777e90;
      }
    }
    .rightSection {
      display: flex;
      color: #e6e8ec;
      p {
        font-family: 'Open Sans';
        font-size: 10px;
        margin: 0;
      }
    }
  }
  .btnContainer {
    text-align: center;
    width: 100%;
    margin-top: 1.8rem;
    .viewListBtn,
    .viewNFTBtn {
      width: 154px;
      padding: 0.5rem 1.8rem;
      border-radius: 20px;
      border: none;
      outline: none;
      background-color: #f68e1f;
      font-weight: 700;
      font-size: 13px;
      font-family: 'Open Sans';
      color: black !important;

      @media (max-width: 600px) {
        padding: 0.5rem 5rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .viewNFTBtn {
      background-color: #3fb5f5;
    }
    .viewListBtn {
      margin-bottom: 0.5rem;
    }
  }
}

.videoIcons {
  position: absolute;
  right: 0.7rem;
  bottom: 0.7rem;
}
.playerIcon {
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  svg {
    font-size: 1.2rem;
    color: white !important;
  }
}
