.listBox {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  .btnContainer {
    border: 2px solid #353945;
    border-radius: 1.3rem;
    cursor: pointer;

    &.menuOpened {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .listBoxBtn {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.8rem;
      padding: 0.6rem 1rem;
      width: 100%;
      border-radius: 1.3rem;
      border: none;
      background-color: transparent;
      cursor: pointer;

      .arrowIcon {
        color: #b1b5c3;
        transition: all 150ms ease-in-out;
        &.arrowDirectionDown {
          transform: rotate(180deg);
        }
        &.arrowDirectionUp {
          transform: rotate(0deg);
        }
      }
    }

    .itemWrap {
      padding: 0rem 1rem 0.3rem 1rem;
      display: flex;
      flex-wrap: wrap;
      .item {
        background-color: #646464;
        margin: 0 4px 4px 0;
        position: relative;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        .itemLabel {
          min-width: 10px;
          color: white;
          font-size: 8px;
          padding: 2.8px 6px 4px 6px;
          width: calc(100% - 18px);
        }
        .close {
          width: 18px;
          min-width: 18px;
          height: 100%;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            font-size: 11px;
          }
        }
      }
    }
  }
  .listBoxOptions {
    list-style: none;
    padding: 0.2rem 0 0 0;
    margin-top: 0;
    border: 2px solid #353945;
    border-top: none;
    border-bottom-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;

    .listBoxOptionWrap {
      position: relative;
      display: flex;
      align-items: center;

      &:hover,
      &:active,
      &:focus {
        background: #353945;
        color: white;
      }

      &.activeOption {
        .listBoxOption {
          width: calc(100% - 3.42rem);
          font-weight: bold;
        }
        .iconWrap {
          display: flex;
        }
        .iconWrap,
        .listBoxOption {
          background: #353945;
          color: white;
        }
      }

      .listBoxOption {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.7rem;
        color: #b1b5c3;
        font-size: 0.8rem;
        width: 100%;
        cursor: pointer;
      }

      .iconWrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
