.Navbar {
  .topContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 8rem;
    background-color: #111111;
    .message {
      font-size: 17px;
      color: #fff;
      span {
        color: #00e6f0;
      }
    }
    .rightContainer {
      display: flex;
      align-items: center;
      p {
        color: #fff;
        font-size: 17px;
        margin-right: 1rem;
      }
      .iconContainer {
        margin-right: 2.4rem;
        img {
          height: 1.5rem;
        }
        .border {
          background: linear-gradient(
            90deg,
            #ffdd15 0%,
            #ffd915 3.83%,
            #fdce17 7.3%,
            #fbbc19 10.64%,
            #f8a21c 13.88%,
            #f6921e 15.52%,
            #f68e1f 20.65%,
            #f48321 25.3%,
            #f27124 29.76%,
            #f05a28 33.69%,
            #f05628 38.27%,
            #ef4b27 42.42%,
            #ee3926 46.41%,
            #ec1f24 50.27%,
            #ec1c24 50.67%,
            #e81e27 54.36%,
            #dd2531 57.7%,
            #cb3040 60.91%,
            #b14057 64.05%,
            #8f5573 67.12%,
            #666e97 70.15%,
            #368cbf 73.09%,
            #00adee 75.97%,
            #01a9eb 80.68%,
            #059ee3 84.95%,
            #0c8cd5 89.05%,
            #1672c2 93.05%,
            #2251a9 96.93%,
            #2e3191 100%
          );
          width: 100%;
          height: 3px;
        }
      }
      button {
        border: none;
        outline: none;
        font-size: 17px;
        background: linear-gradient(180deg, #363636 0%, #111111 100%);
        color: #fff;
        padding: 0.8rem 1rem;
        border-radius: 40px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .bottomContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 8rem;
    background: linear-gradient(180deg, #363636 0%, #111111 100%);
    .leftContainer {
      display: flex;
      align-items: center;
      img {
        height: 3rem;
      }
      .divider {
        height: 1.7rem;
        width: 1px;
        background-color: #fff;
        margin: 0 1rem;
      }
      p {
        color: #00e6f0;
        font-size: 21px;
      }
    }
    .rightContainer {
      display: flex;
      align-items: center;
      p {
        color: #fff;
        font-size: 13px;
      }
      .divider {
        height: 1.4rem;
        width: 1px;
        background-color: #4b4b4b;
        margin: 0 2.7rem;
      }
      .cartContainer {
        display: flex;
        align-items: center;
        .cartLeft {
          margin-right: 0.4rem;
          p {
            margin: 0;
            text-align: right;
            font-size: 10px;
          }
          .cartDivider {
            height: 1px;
            background-color: #fff;
            width: 100%;
            margin: 0.1rem 0;
          }
        }
      }
    }
  }
}
