.outerMostWrap {
  background: url(https://artefy.io/assets/images/galleryBG.png);
  background-size: cover;
  // padding: 6rem 0rem 0rem 0rem;
  z-index: 1;
  .risegalleryimg {
    width: 100%;
  }
  .outerwrap {
    .leftContainer {
      max-width: 1300px;
      margin: auto;
      padding: 0rem 0rem 2rem 0rem;
      position: relative;
      @media screen and (max-width: 1550px) {
        max-width: 920px;
        margin: auto;
      }
      @media (max-width: 1024px) {
        max-width: 600px;
        margin: auto;
      }
      @media (max-width: 768px) {
        max-width: 485px;
        margin: auto;
      }
      @media (max-width: 585px) {
        max-width: 80%;
        margin: auto;
      }
      .textOuterWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1600px) {
          padding: 0rem;
        }
        .firstText {
          font-size: 32px;
          font-weight: 300;
          color: #fff;
          line-height: 42px;
          @media (max-width: 1024px) {
            font-size: 25px;
            text-align: center;
          }
          @media (max-width: 800px) {
            font-size: 16px;
            text-align: center;
          }
        }
        .secondText {
          font-size: 32px;
          font-weight: 300;
          color: #b80000;
          line-height: 42px;
          @media (max-width: 1024px) {
            font-size: 25px;
            text-align: center;
          }
          @media (max-width: 800px) {
            font-size: 16px;
            text-align: center;
          }
        }
      }
    }
  }
  .videowrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .galleryWrap {
      max-width: 100%;
      .galleryOne {
        max-width: 100%;
        @media (max-width: 2560px) {
          height: 550px;
        }
        @media (max-width: 1920px) {
          height: 415px;
        }
        @media (max-width: 1600px) {
          height: unset;
        }
      }
    }
  }
  .paragraph {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    text-align: center;
    // max-width: 40%;
    max-width: 70%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media (max-width: 992px) {
      max-width: 80%;
    }
  }
  .border {
    max-width: 735px;
    background: linear-gradient(
      90deg,
      #ffdd15 0%,
      #ffd915 3.83%,
      #fdce17 7.3%,
      #fbbc19 10.64%,
      #f8a21c 13.88%,
      #f6921e 15.52%,
      #f68e1f 20.65%,
      #f48321 25.3%,
      #f27124 29.76%,
      #f05a28 33.69%,
      #f05628 38.27%,
      #ef4b27 42.42%,
      #ee3926 46.41%,
      #ec1f24 50.27%,
      #ec1c24 50.67%,
      #e81e27 54.36%,
      #dd2531 57.7%,
      #cb3040 60.91%,
      #b14057 64.05%,
      #8f5573 67.12%,
      #666e97 70.15%,
      #368cbf 73.09%,
      #00adee 75.97%,
      #01a9eb 80.68%,
      #059ee3 84.95%,
      #0c8cd5 89.05%,
      #1672c2 93.05%,
      #2251a9 96.93%,
      #2e3191 100%
    );
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .outerwrap {
    .wrap {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .outerwrap {
    .wrap {
      margin-left: 30px;
      margin-right: 30px;
      padding: 3rem 0rem;
    }
  }
}
