.border {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ffdd15 0%,
    #ffd915 3.83%,
    #fdce17 7.3%,
    #fbbc19 10.64%,
    #f8a21c 13.88%,
    #f6921e 15.52%,
    #f68e1f 20.65%,
    #f48321 25.3%,
    #f27124 29.76%,
    #f05a28 33.69%,
    #f05628 38.27%,
    #ef4b27 42.42%,
    #ee3926 46.41%,
    #ec1f24 50.27%,
    #ec1c24 50.67%,
    #e81e27 54.36%,
    #dd2531 57.7%,
    #cb3040 60.91%,
    #b14057 64.05%,
    #8f5573 67.12%,
    #666e97 70.15%,
    #368cbf 73.09%,
    #00adee 75.97%,
    #01a9eb 80.68%,
    #059ee3 84.95%,
    #0c8cd5 89.05%,
    #1672c2 93.05%,
    #2251a9 96.93%,
    #2e3191 100%
  );
}
.Navbar {
  background: linear-gradient(180deg, #111111 0%, #363636 100%);
  .Main {
    .topData {
      max-width: 1120px;
      @media (max-width: 1200px) {
        margin-left: 40px;
        margin-right: 40px;
      }
      @media (max-width: 1000px) {
        flex-direction: column;
        padding: 1.5rem 0;
      }
      @media (max-width: 767px) {
        margin-left: 30px;
        margin-right: 30px;
        flex-direction: row-reverse;
      }
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.8rem 0;
      position: relative;

      .mobileNav {
        @media (min-width: 767px) {
          display: none;
        }
      }
      .leftContainer {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 5%;
        @media (max-width: 1000px) {
          margin-right: 0%;
          margin-bottom: 1.5rem;
        }
        @media (max-width: 767px) {
          margin-bottom: 0rem;
        }
        .artefyBeta {
          height: 2.2rem;
          @media (max-width: 500px) {
            height: 1.8rem;
          }
        }

        .verticalLine {
          height: 2.5rem;
          @media (max-width: 500px) {
            height: 2rem;
            margin: 0 0.5rem;
          }
          width: 1px;
          background-color: #aea3a3;
          margin: 0 1rem;
        }
        .headerTextContainer {
          .headerText {
            max-width: 146px;
            @media (max-width: 500px) {
              max-width: 110px;
            }
          }
          .borderBottom {
            height: 3px;
            width: 100%;
            margin: 0 auto;

            background: linear-gradient(
              90deg,
              #ffdd15 0%,
              #ffd915 3.83%,
              #fdce17 7.3%,
              #fbbc19 10.64%,
              #f8a21c 13.88%,
              #f6921e 15.52%,
              #f68e1f 20.65%,
              #f48321 25.3%,
              #f27124 29.76%,
              #f05a28 33.69%,
              #f05628 38.27%,
              #ef4b27 42.42%,
              #ee3926 46.41%,
              #ec1f24 50.27%,
              #ec1c24 50.67%,
              #e81e27 54.36%,
              #dd2531 57.7%,
              #cb3040 60.91%,
              #b14057 64.05%,
              #8f5573 67.12%,
              #666e97 70.15%,
              #368cbf 73.09%,
              #00adee 75.97%,
              #01a9eb 80.68%,
              #059ee3 84.95%,
              #0c8cd5 89.05%,
              #1672c2 93.05%,
              #2251a9 96.93%,
              #2e3191 100%
            );
          }
        }
        .subTextMobile {
          @media (max-width: 1000px) {
            display: none;
            height: 0.7rem;
            margin-top: 1rem;
          }
        }
        .subTextDesktop {
          @media (min-width: 768px) {
            display: none;
            width: 100%;
            position: relative;
            left: -15%;
          }
          @media (max-width: 745px) {
            width: 100%;
            left: -1.8%;
            margin-top: 0.8rem;
          }
        }
      }
      .rightContainer {
        @media (max-width: 767px) {
          display: none;
        }

        display: flex;
        align-items: center;
        width: 450px;

        .registerText {
          text-decoration: none;
          color: #fff;
          font-size: 13px;
          font-family: 'Open Sans';
          font-weight: 400;
          text-align: center;
          position: relative;
          flex: 1;
          border-right: 1px solid #4b4b4b;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          display: flex;
          height: 26px;
          justify-content: center;
          align-items: center;
          &:last-child {
            border-right: 0px;
            justify-content: flex-end;
          }
          &:hover {
            cursor: pointer;
            .submenu {
              display: block;
            }
          }
          .submenu {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            z-index: 99;
            ul {
              list-style: none;
              background: rgba(72, 72, 72, 0.8);
              padding: 6px 4px;
              text-align: left;
              min-width: 166px;

              li {
                cursor: pointer;
                font-size: 11px;
                font-family: 'Open Sans';
                font-weight: 400;
                &:hover {
                  // margin-top: -1px;
                  background-color: #252525;
                  font-weight: 700;
                  border-radius: 3px;
                  span {
                    border-bottom: 1px solid transparent;
                  }
                }
                span {
                  padding: 0.5rem 0rem;
                  border-bottom: 1px solid white;
                  max-width: 131px;
                  padding-left: 5px;
                  margin: auto;
                  display: flex;
                  justify-content: space-between;
                }

                &:last-child {
                  span {
                    border-bottom: 1px solid transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
