.border {
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #00e6f0 0%, #b35aff 100%);
}
.mainWrap {
  .imgContainer {
    padding-left: 10rem;
    @media (max-width: 900px) {
      padding-left: 5rem;
    }
    @media (max-width: 825px) {
      padding-left: 0rem;
      text-align: center;
    }
    .frameImage {
      width: 30%;
      @media (max-width: 900px) {
        width: 40%;
      }
      @media (max-width: 375px) {
        width: 85%;
      }
    }
  }
  .resText {
    display: none;
    @media (max-width: 825px) {
      display: block;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      text-align: center;
      padding: 2rem;
    }
  }
  .relativeWrap {
    position: relative;
    .videoContainer {
      position: relative;
      @media (max-width: 825px) {
        display: none;
      }
      .exploreBg {
        width: 100%;
      }
    }
    .card {
      position: absolute;
      right: 100px;
      top: -65px;
      height: 520px;
      @media (max-width: 2900px) {
        position: absolute;
        right: 320px;
        top: -115px;
        height: 745px;
        width: 524px;
      }
      @media (max-width: 2800px) {
        position: absolute;
        right: 320px;
        top: -115px;
        height: 745px;
        width: 524px;
      }
      @media (max-width: 2400px) {
        top: -135px;
      }
      @media (max-width: 2300px) {
        position: absolute;
        right: 320px;
        top: -100px;
        height: 670px;
        width: 470px;
      }
      @media (max-width: 2100px) {
        top: -125px;
      }
      @media (max-width: 2100px) {
        top: -140px;
      }
      @media (max-width: 1920px) {
        position: absolute;
        right: 300px;
        top: -100px;
        height: 578px;
        width: 408px;
      }

      @media (max-width: 1760px) {
        height: 530px;
        width: 370px;
      }

      @media (max-width: 1600px) {
        top: -100px;
        right: 250px;
        height: 483px;
        width: 340px;
      }
      @media (max-width: 1366px) {
        top: -100px;
      }
      @media (max-width: 1250px) {
        top: -85px;
        height: 400px;
        right: 20px;
        width: 280px;
      }
      @media (max-width: 991px) {
        top: -75px;
        height: 360px;
        right: 100px;
        width: 252px;
      }
      @media (max-width: 880px) {
        right: 50px;
      }
      @media (max-width: 825px) {
        position: unset;
        width: 100%;
        border: none !important;
      }
    }
  }
  .buttonwrap {
    max-width: 950px;
    width: 100%;
    margin: auto;
    cursor: pointer;
    margin-top: 3rem;
    @media (max-width: 1024px) {
      max-width: 700px;
      margin-top: 0rem;
    }
    @media (max-width: 825px) {
      margin-top: 2rem;
    }
    button {
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      font-family: DM Sans;
      max-width: 330px;
      cursor: pointer;
      width: 100%;
      height: 50px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background: linear-gradient(180deg, #363636 -12%, #111111 100%);
      border: 0px;
      margin-bottom: 3rem;
      @media (max-width: 1024px) {
        margin-top: 3rem;
      }
      @media (max-width: 825px) {
        margin: 0rem auto 3rem auto;
      }
      @media (max-width: 375px) {
        max-width: 250px;
      }
    }
  }
}
