.border {
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #00e6f0 0%, #b35aff 100%);
}
.outerwrap {
  @media (max-width: 400px) {
    display: none;
  }
  .wrap {
    max-width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 200px;
    @media screen and (max-width: 1029px) {
      height: auto;
      padding: 2rem 0rem;
    }
    align-items: center;
    @media screen and (max-width: 1029px) {
      flex-direction: column;
      justify-content: center;
    }
    .content {
      font-size: 24px;
      font-weight: 700;
      font-family: Poppins;
      color: white;
      @media screen and (max-width: 1029px) {
        text-align: center;
      }
    }
    .button {
      max-width: 330px;
      width: 100%;
      margin: 0rem 1rem;
      @media screen and (max-width: 1029px) {
        margin-top: 1rem;
      }
      button {
        cursor: pointer;
        border-radius: 40px;
        border: 0px;
        font-size: 16px;
        color: white;
        font-family: DM Sans;
        font-weight: 700;
        background-color: #6399f8;
        max-width: 330px;
        width: 100%;
        height: 50px;
      }
    }
    .logo {
      @media screen and (max-width: 1029px) {
        display: none;
      }
      img {
        max-width: 130px;
        margin-top: 1rem;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .outerwrap {
    .wrap {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}
@media screen and (max-width: 767px) {
  .outerwrap {
    .wrap {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
