@import "src/Styles.scss";

.root {
  color: white;
  display: flex;
  flex-direction: column;
  background: var(--background-white);
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
  padding: 50px 0;
  .grid {
    max-width: 1230px;
    padding: 25px 0;
    margin: 0 auto;
    @media screen and (min-width: 1200px) {
      gap: 100px;
      padding: 100px 0;
    }
    .button {
      button {
        background-color: rgba(255, 255, 255, 0.116);
        color: rgb(255, 255, 255);
        &:hover {
          background-color: rgba(255, 255, 255, 255);
          color: rgb(0, 0, 0);
        }
        transform: scale(1.25);
        svg {
          transform: scale(2);
        }
      }
    }
    .card {
      height: 33vw;
      min-width: 50px;
      min-height: 50px;
      max-width: 250px;
      max-height: 250px;
      width: 33vw;
      margin: 5px;
      border-radius: 20px;
      background-color: var(--green);
      color: white;
      display: flex;
      @media screen and (max-width: 500px) {
        height: 35vw;
        width: 35vw;
      }
      .image {
        font-size: 32px;
        text-align: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .textGrid {
      padding: 0;
      .header {
        font-weight: 900;
        margin-bottom: 3rem;
        max-width: 500px;
        text-align: center;
        @media screen and (min-width: 1200px) {
          text-align: left;
        }
        @media (max-width: 900px) {
          font-size: 26px;
          margin-top: 1.8rem;
          margin-bottom: 1.6rem;
        }
        font-family: var(--font), monospace;
      }
      .body {
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
        line-height: 21px;
        font-family: "Open Sans";
        font-family: var(--font), monospace;
        @media screen and (min-width: 1200px) {
          max-width: 500px;
          text-align: left;
          margin: 0;
        }
      }
    }
  }
}
