.Featured {
  .gridVideo {
    height: 450px;
    margin: 0rem auto 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;

    img {
      width: 60%;
      @media (max-width: 1100px) {
        width: 45%;
      }
      @media (max-width: 767px) {
        width: 65%;
      }
      @media (max-width: 465px) {
        width: 85%;
      }
    }
  }
  .Main {
    max-width: 1120px;
    margin: auto;
    .header {
      font-size: 36px;
      margin: 0rem;
      font-weight: 700;
      font-family: 'Gotham Book', sans-serif;
      color: #fcfcfd;
      span {
        color: #fbbc19;
      }
      margin-bottom: 3rem;
    }
    .carouselContainer {
      .CardItem {
        position: relative;
        padding: 0rem 1rem;
        img {
          border-radius: 10px;
          margin: auto;
          max-width: 250px;
          width: 100%;
        }
        h1 {
          margin-top: 1.5rem;
          font-family: Gotham;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 23px;
          letter-spacing: -0.01em;
          text-align: center;
          color: white;
        }
        .text {
          color: #111111;
          font-size: 16px;
          line-height: 32px;
          background-color: #f6921e;
          width: 145px;
          height: 33px;
          margin: 2rem auto;
          border-radius: 20px;
          cursor: pointer;
        }
        .textDisabled {
          font-size: 16px;
          line-height: 32px;
          background-color: #cccccc;
          color: #666666;
          width: 145px;
          height: 33px;
          margin: 2rem auto;
          border-radius: 20px;
        }
        .iconRarity {
          position: absolute;
          top: 10px;
          width: 20px;
          left: 30px;
          @media (max-width: 1100px) {
            left: 58px;
          }
          @media (max-width: 1024px) {
            left: 44px;
          }
          @media (max-width: 860px) {
            left: 35px;
          }
          @media (max-width: 465px) {
            left: 60px;
          }
        }
      }

      .customDots {
        background-color: #c4c4c4;
        margin-top: 3rem;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        li {
          margin: 0;
        }
      }

      .activeDots {
        background-color: #fff;
        margin-top: 2.9rem;
        height: 9px;
        width: 9px;
        border-radius: 100%;
      }
    }
  }
  .NFTWrap.NFT3d {
    padding: 0px;
    height: 550px;
    padding-top: 3rem;
    background-image: none !important;
    margin-top: unset;
    iframe {
      border: 0px;
    }
  }
  .NFTWrap {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin-top: 3rem;
    padding: 4.5rem;
    flex-wrap: wrap;
    .text {
      font-family: 'Open Sans';
      font-size: 37px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: -1px;
      text-align: right;
      color: #f8a21c;
      div {
        color: #ffffff;
      }
      margin-right: 4rem;
    }
    .img {
      img {
        max-width: 450px;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1005px) {
    .wrap {
      .NFTWrap {
        flex-direction: column;
        padding: 3rem 2rem;
        .text {
          margin-right: 0px;
          text-align: center;
          font-size: 30px;
          line-height: 35px;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .iframeWraper {
    max-width: 100%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 1200px) {
  .Featured {
    .Main {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}
@media screen and (max-width: 767px) {
  .Featured {
    .Main {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
