.launchGalleryWrap {
  background: linear-gradient(180deg, #363636 0%, #111111 100%);
  padding: 1rem 0rem 4rem 0rem;
  .themeImages {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
    }
  }
  .currateImgBox {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #111111 0%, #363636 100%);
    width: 50%;
    justify-content: center;
    padding-bottom: 40px;
    @media (max-width: 768px) {
      width: 100%;
    }
    .waveImages {
      position: relative;
      .waveInnerimage {
        position: relative;
        p {
          font-size: 36px;
          color: #fff;
          text-align: center;
          padding: 20px 0;
          font-weight: 700;
          text-transform: uppercase;
          @media (max-width: 768px) {
            font-size: 24px;
          }
        }
      }
      .waveimg {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  .currateImgBoxsecond {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #363636 0%, #111111 100%);
    width: 50%;
    justify-content: center;
    padding-bottom: 40px;
    @media (max-width: 768px) {
      width: 100%;
    }
    .waveImages {
      position: relative;
      .waveInnerimage {
        position: relative;
        p {
          font-size: 36px;
          color: #fff;
          text-align: center;
          padding: 20px 0;
          font-weight: 700;
          text-transform: uppercase;
          @media (max-width: 768px) {
            font-size: 24px;
          }
        }
      }
      .waveimg {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  .exploreGalleryText {
    font-size: 42px;
    line-height: 54px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 0rem;
    @media (max-width: 480px) {
      line-height: 62px;
      padding: 2rem 0rem;
    }
  }
  .borderBottom {
    height: 3px;
    width: 33%;
    margin: 0 auto;
    margin-top: 2rem;
    background: linear-gradient(
      90deg,
      #ffdd15 0%,
      #ffd915 3.83%,
      #fdce17 7.3%,
      #fbbc19 10.64%,
      #f8a21c 13.88%,
      #f6921e 15.52%,
      #f68e1f 20.65%,
      #f48321 25.3%,
      #f27124 29.76%,
      #f05a28 33.69%,
      #f05628 38.27%,
      #ef4b27 42.42%,
      #ee3926 46.41%,
      #ec1f24 50.27%,
      #ec1c24 50.67%,
      #e81e27 54.36%,
      #dd2531 57.7%,
      #cb3040 60.91%,
      #b14057 64.05%,
      #8f5573 67.12%,
      #666e97 70.15%,
      #368cbf 73.09%,
      #00adee 75.97%,
      #01a9eb 80.68%,
      #059ee3 84.95%,
      #0c8cd5 89.05%,
      #1672c2 93.05%,
      #2251a9 96.93%,
      #2e3191 100%
    );
  }
}
