.headerWrap {
  background: url(https://artefy.io/assets/images/masterheader.png);
  background-size: 100% 100%;
  padding: 5rem 0rem 3rem 0rem;
  @media (max-width: 768px) {
    background-size: cover;
    background-position: center;
  }
  .Box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #363636 0%, #111111 100%);
    padding: 2.5rem 2rem;
    border-radius: 20px;
    opacity: 0.8;
    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 25px;
    }
    .headerTextContainer {
      .headerText {
        max-width: 266.32px;
        @media (max-width: 500px) {
          max-width: 110px;
        }
      }
      .borderBottom {
        height: 3px;
        width: 100%;
        margin: 0 auto;
        background: linear-gradient(
          90deg,
          #ffdd15 0%,
          #ffd915 3.83%,
          #fdce17 7.3%,
          #fbbc19 10.64%,
          #f8a21c 13.88%,
          #f6921e 15.52%,
          #f68e1f 20.65%,
          #f48321 25.3%,
          #f27124 29.76%,
          #f05a28 33.69%,
          #f05628 38.27%,
          #ef4b27 42.42%,
          #ee3926 46.41%,
          #ec1f24 50.27%,
          #ec1c24 50.67%,
          #e81e27 54.36%,
          #dd2531 57.7%,
          #cb3040 60.91%,
          #b14057 64.05%,
          #8f5573 67.12%,
          #666e97 70.15%,
          #368cbf 73.09%,
          #00adee 75.97%,
          #01a9eb 80.68%,
          #059ee3 84.95%,
          #0c8cd5 89.05%,
          #1672c2 93.05%,
          #2251a9 96.93%,
          #2e3191 100%
        );
      }
    }
    .textInner {
      font-size: 37px;
      line-height: 32px;
      font-weight: 700;
      color: #fff;
      @media (max-width: 768px) {
        text-align: center;
        font-size: 28px;
      }
    }
  }
}
