.transactionHistoryWrap {
  * {
    // background-color: #272727 !important;
    p, span, div {
      color: rgba(255, 255, 255, 0.7) !important;
    }
    svg {
      color: white !important;
    }
  }
  :global {
    .rdt_TableHeadRow {
      background-color: #272727;
      color: rgba(255, 255, 255, 0.7) !important;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Open Sans';
    }
    .rdt_TableRow {
      height: auto !important;
    }
    .rdt_TableRow:nth-child(odd) {
      background-color: #111111;
      color: white;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Open Sans';
    }
    .rdt_TableRow:nth-child(even) {
      background-color: #2f2f2f;
      color: white;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Open Sans';
    }

    .rdt_TableCol_Sortable {
      font-weight: 700 !important;
      > * {
        line-height: 1rem !important;
        overflow: unset !important;
        white-space: pre-wrap !important;
        text-overflow: unset !important;
      }
    }

    .rdt_TableCell {
      padding: 0.8rem !important;
    }

    .rdt_TableRow:nth-child(odd) {
      background-color: #111111 !important;
    }

    .asc.__rdt_custom_sort_icon__ {
      svg {
        // font-size: 1.5rem !important;
        position: relative;
        top: 3px;
        left: 1px;
        width: 1.5rem !important;
        height: 1.5rem !important;
        color: white !important;
        // opacity: 1 !important;
      }
    }
  }

  .assetRoot {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .detailtBtn {
    cursor: pointer;
    border-radius: 15px;
    background-color: #737171;
    padding: 8px 15px;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  .cellItem {
    line-height: 1rem !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
  }
  .detailbtn {
    width: 81px;
    height: 35px;
    border-radius: 15px;
    background-color: #737171;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
    border: 0px;
  }
}

.transactionsTable {
  color: black;
}
.detailsModal {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 550px) {
    align-items: flex-start;
  }
  overflow-y: scroll;
  .detailModalwrap {
    background: linear-gradient(180deg, #363636 0%, #111111 100%);
    max-width: 545px;
    @media screen and (max-width: 600px) {
      margin-left: 30px;
      margin-right: 30px;
    }
    @media screen and (max-width: 550px) {
      margin: 30px;
      padding: 1rem;
    }
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    border-radius: 20px;
    .heading {
      font-size: 23px;
      color: #fcfcfd;
      font-weight: 700;
      font-family: 'Open Sans';
      padding-left: 12px;
      border-bottom: 1px solid #494949;
      padding-bottom: 10px;
      @media screen and (max-width: 550px) {
        font-size: 18px;
      }
    }
    .detailwrap {
      padding: 0.5rem 0rem;
      .line {
        display: flex;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding: 12px;
        @media screen and (max-width: 550px) {
          padding: 5px 12px;
        }
        .title {
          width: 50%;
        }
        .val {
          width: 50%;
        }
      }
    }
    .NFTwrap {
      display: flex;
      margin-top: 0.75rem;
      @media screen and (max-width: 550px) {
        flex-direction: column;
      }
      .left {
        width: 145px;
        @media screen and (max-width: 550px) {
          width: 110px;
        }
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
      .right {
        width: calc(100% - 145px);
        @media screen and (max-width: 550px) {
          width: 100%;
          padding-left: 0rem;
          padding-top: 1.5rem;
        }
        padding-left: 2.2rem;
        box-sizing: border-box;
        .line {
          display: flex;
          margin-bottom: 1.5rem;
          @media screen and (max-width: 550px) {
            margin-bottom: 0.5rem;
          }
          .p1 {
            width: 50%;
            .seller {
              font-size: 15px;
              font-family: 'Open Sans';
              font-weight: 600;
              color: white;
            }
            .artist {
              font-size: 14px;
              font-family: 'Open Sans';
              font-weight: 400;
              color: white;
            }
            .title {
              font-size: 20px;
              font-family: 'Open Sans';
              font-weight: 700;
              color: white;
            }
            .type {
              font-size: 14px;
              font-family: 'Open Sans';
              font-weight: 400;
              color: white;
            }
            .price {
              font-size: 24px;
              font-family: 'Open Sans';
              font-weight: 700;
              color: white;
            }
            .pricetitle {
              font-size: 15px;
              font-family: 'Open Sans';
              font-weight: 600;
              color: white;
            }
          }
          .p2 {
            width: 50%;
            .n1 {
              font-size: 19px;
              font-family: 'Open Sans';
              font-weight: 600;
              color: white;
              text-align: center;
            }
            .n2 {
              font-size: 15px;
              font-family: 'Open Sans';
              font-weight: 600;
              color: white;
              text-align: center;
            }
            button {
              background-color: #3fb5f5;
              font-size: 16px;
              font-family: 'Open Sans';
              font-weight: 700;
              color: white;
              width: 100%;
              border-radius: 20px;
              cursor: pointer;
              height: 33px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 0px;
            }
          }
        }
      }
    }
  }
}
