.headerWrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #363636;
  min-height: 315px;
}
.contentWrap {
  background: linear-gradient(
    180deg,
    rgba(54, 54, 54, 0.9) 0%,
    rgba(17, 17, 17, 0.9) 100%
  );
  border-radius: 20px;
  max-width: 1120px;
  margin: auto;
  padding: 2rem;
  box-sizing: border-box;
  margin-top: -105px;
  .heading {
    font-size: 42px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  .content {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
  }
}

@media screen and (max-width: 1200px) {
  .contentWrap {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contentWrap {
    margin-left: 30px;
    margin-right: 30px;
    .heading {
      font-size: 30px;
    }
  }
}
